<div class="row">
  <div class="col-lg-12 form-inline">

    <div class="row">
      <div class="col-sm-24">
        <div id="componenteVisual" class="form-group panel panel-default componenteRetratil">
          
          <script>
            var ancora  = "";
            var pos     = -1;
          </script>
          <div class="panel-heading componente-titulo">

            <div class="col_hierarq contrai-btn">
              <!-- Botao de + - -->

              <script>
                ancora  = "";
                if(ancora != ""){
                  setTimeout("setAncora('#"+ancora+"')", 10);
                } 
              </script>

              <input type="submit" name="evento" tabindex="30000" value="-" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;pIdPlc=listaRubricaTipoPagamento&amp;acao=retrai&amp;pBPlc=0&amp;pOPlc=0#listaRubricaTipoPagamento&#39;);" class="botao_menos">

              <script>regBotaoEvento('-','PORTLET_RETRAI');</script>
              <script>regBotaoEvento('+','PORTLET_EXPANDE');</script>

              <!-- Fim botao + - -->
            </div>
            <script>
              var idPortlet   = "listaRubricaTipoPagamento";
              var campoFoco   = "";
              if(ancora != "" && ancora == idPortlet){
                setVarGlobal("idPortlet", idPortlet);

              }
            </script>

            Aplicações para Pagamento&nbsp;

            <div class="controles-right">

              <input type="submit" name="evento" tabindex="30001" value="Novo" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;listaRubricaTipoPagamento&#39;);" onmouseover="try{animar(event , &#39;2&#39;)}catch(e){}" onmouseout="try{animar(event, &#39;&#39;)}catch(e){}" id="botao_secao" class="btn btn-default btn-sm">


              <script>regBotaoEvento('Novo','INCLUIR_DET');</script>


            </div>

          </div>

          <div class="conteudoComponenteRetratil panel-body">

            <div class="row">
              <div class="col-lg-3 form-inline">&nbsp;</div>
              <div class="col-lg-3 form-inline">Início de Vigência<span class="text-warning">*</span></div>
              <div class="col-lg-3 form-inline">Término de Vigência</div>
              <div class="col-lg-3 form-inline">Tipo de Pagamento<span class="text-warning">*</span></div>
              <div class="col-lg-3">
                <b>1</b>

              </div>
              <div class="col-lg-3 form-inline right-addon inner-addon">
                <input type="text" name="listaRubricaTipoPagamento[0].dataInicioVigenciaFormatada" maxlength="10" size="11" value="" class="form-control datepicker hasDatepicker" id="dp1450462181063">
                <i class="icon icon-calendar3"></i></div>
                <div class="col-lg-3 form-inline right-addon inner-addon">
                  <input type="text" name="listaRubricaTipoPagamento[0].dataFimVigenciaFormatada" maxlength="10" size="11" value="" class="form-control datepicker hasDatepicker" id="dp1450462181064">
                  <i class="icon icon-calendar3"></i></div>
                  <div class="col-lg-3 form-inline">
                    <select name="listaRubricaTipoPagamento[0].identificadorTipoPagamento" class="form-inline chosen" style="display: none;"><option value="">[Selecione...]</option></select><div class="chosen-container chosen-container-single" style="width: 109px;" title=""><a class="chosen-single" tabindex="-1"><span>[Selecione...]</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"></ul></div></div>
                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-12 form-inline">
        <div class="row">
          <div class="col-sm-24">
            <div id="componenteVisual" class="form-group panel panel-default componenteRetratil">

              <script>
                var ancora  = "";
                var pos     = -1;
              </script>
              <div class="panel-heading componente-titulo">

                <div class="col_hierarq contrai-btn">
                  <!-- Botao de + - -->

                  <script>
                    ancora  = "";
                    if(ancora != ""){
                      setTimeout("setAncora('#"+ancora+"')", 10);
                    } 
                  </script>

                  <input type="submit" name="evento" tabindex="30000" value="-" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;pIdPlc=listaRubricaSituacaoColaborador&amp;acao=retrai&amp;pBPlc=0&amp;pOPlc=0#listaRubricaSituacaoColaborador&#39;);" class="botao_menos">

                  <script>regBotaoEvento('-','PORTLET_RETRAI');</script>
                  <script>regBotaoEvento('+','PORTLET_EXPANDE');</script>

                  <!-- Fim botao + - -->
                </div>
                <script>
                  var idPortlet   = "listaRubricaSituacaoColaborador";
                  var campoFoco   = "";
                  if(ancora != "" && ancora == idPortlet){
                    setVarGlobal("idPortlet", idPortlet);

                  }
                </script>

                Aplicações para Colaboradores&nbsp;

                <div class="controles-right">

                  <input type="submit" name="evento" tabindex="30001" value="Novo" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;listaRubricaSituacaoColaborador&#39;);" onmouseover="try{animar(event , &#39;2&#39;)}catch(e){}" onmouseout="try{animar(event, &#39;&#39;)}catch(e){}" id="botao_secao" class="btn btn-default btn-sm">

                  <script>regBotaoEvento('Novo','INCLUIR_DET');</script>

                </div>

              </div>

              <div class="conteudoComponenteRetratil panel-body">

                <div class="row">
                  <div class="col-lg-3 form-inline">&nbsp;</div>
                  <div class="col-lg-3 form-inline">Início de Vigência<span class="text-warning">*</span></div>
                  <div class="col-lg-3 form-inline">Término de Vigência</div>
                  <div class="col-lg-3 form-inline">Situações<span class="text-warning">*</span></div>

                  <div class="col-lg-3">
                    <b>1</b>

                  </div>
                  <div class="col-lg-3 form-inline right-addon inner-addon">
                    <input type="text" name="listaRubricaSituacaoColaborador[0].dataInicioVigenciaFormatada" maxlength="10" size="11" value="" class="form-control datepicker hasDatepicker" id="dp1450462181065">
                    <i class="icon icon-calendar3"></i></div>
                    <div class="col-lg-3 form-inline right-addon inner-addon">
                      <input type="text" name="listaRubricaSituacaoColaborador[0].dataFimVigenciaFormatada" maxlength="10" size="11" value="" class="form-control datepicker hasDatepicker" id="dp1450462181066">
                      <i class="icon icon-calendar3"></i></div>
                      <div class="col-lg-3 form-inline">
                        <select name="listaRubricaSituacaoColaborador[0].identificadorSituacaoColaborador"><option value="">[Selecione...]</option></select>
                      </div>
                    </div>


                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>