<div class="row">
  <div class="col-lg-24">

    <div class="row">
      <div class="col-sm-24">
        <div id="componenteVisual" class="form-group panel panel-default componenteRetratil">
          
          <script>
            var ancora  = "";
            var pos     = -1;
          </script>
          <div class="panel-heading componente-titulo">

            <div class="col_hierarq contrai-btn">
              <!-- Botao de + - -->

              <script>
                ancora  = "";
                if(ancora != ""){
                  setTimeout("setAncora('#"+ancora+"')", 10);
                } 
              </script>

              <input type="submit" name="evento" tabindex="30000" value="-" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;pIdPlc=listaRubricaTipoPagamento&amp;acao=retrai&amp;pBPlc=0&amp;pOPlc=0#listaRubricaTipoPagamento&#39;);" class="botao_menos">

              <script>regBotaoEvento('-','PORTLET_RETRAI');</script>
              <script>regBotaoEvento('+','PORTLET_EXPANDE');</script>

              <!-- Fim botao + - -->
            </div>
            <script>
              var idPortlet   = "listaRubricaTipoPagamento";
              var campoFoco   = "";
              if(ancora != "" && ancora == idPortlet){
                setVarGlobal("idPortlet", idPortlet);

              }
            </script>

            Aplicações para Pagamento&nbsp;

            <div class="controles-right">

              <input type="submit" name="evento" tabindex="30001" value="Novo" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;listaRubricaTipoPagamento&#39;);" onmouseover="try{animar(event , &#39;2&#39;)}catch(e){}" onmouseout="try{animar(event, &#39;&#39;)}catch(e){}" id="botao_secao" class="btn btn-default btn-sm">


              <script>regBotaoEvento('Novo','INCLUIR_DET');</script>


            </div>

          </div>

          <div class="conteudoComponenteRetratil panel-body">

            <div class="row">


              <div class="row form-group">

                <div class="col-sm-2" style="text-align:right;"><br>1</div>
                <div class="col-sm-4">
                  <label for="listaRubricaTipoPagamento[0].dataInicioVigenciaFormatada" class="label-control">Início de Vigência</label>
                  <input type="text" name="listaRubricaTipoPagamento[0].dataInicioVigenciaFormatada" maxlength="10" size="11" value="" class="form-control datepicker" id="dp1450462181063">
                </div>
                <div class="col-sm-4">
                  <label for="listaRubricaTipoPagamento[0].dataFimVigenciaFormatada" class="label-control">Término de Vigência</label>
                  <input type="text" name="listaRubricaTipoPagamento[0].dataFimVigenciaFormatada" maxlength="10" size="11" value="" class="form-control datepicker" id="dp1450462181064">
                </div>
                <div class="col-sm-6">
                  <label for="listaRubricaTipoPagamento[0].identificadorTipoPagamento" class="label-control">Tipo de Pagamento</label>
                  <select name="listaRubricaTipoPagamento[0].identificadorTipoPagamento" class="form-control"><option value="">[Selecione...]</option></select>
                </div>     

              </div>

                </div>

              </div>

            </div>
          </div>
        </div>

      </div>
      <div class="col-lg-24">
        <div class="row">
          <div class="col-sm-24">
            <div id="componenteVisual" class="form-group panel panel-default componenteRetratil">

              <script>
                var ancora  = "";
                var pos     = -1;
              </script>
              <div class="panel-heading componente-titulo">

                <div class="col_hierarq contrai-btn">
                  <!-- Botao de + - -->

                  <script>
                    ancora  = "";
                    if(ancora != ""){
                      setTimeout("setAncora('#"+ancora+"')", 10);
                    } 
                  </script>

                  <input type="submit" name="evento" tabindex="30000" value="-" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;pIdPlc=listaRubricaSituacaoColaborador&amp;acao=retrai&amp;pBPlc=0&amp;pOPlc=0#listaRubricaSituacaoColaborador&#39;);" class="botao_menos">

                  <script>regBotaoEvento('-','PORTLET_RETRAI');</script>
                  <script>regBotaoEvento('+','PORTLET_EXPANDE');</script>

                  <!-- Fim botao + - -->
                </div>
                <script>
                  var idPortlet   = "listaRubricaSituacaoColaborador";
                  var campoFoco   = "";
                  if(ancora != "" && ancora == idPortlet){
                    setVarGlobal("idPortlet", idPortlet);

                  }
                </script>

                Aplicações para Colaboradores&nbsp;

                <div class="controles-right">

                  <input type="submit" name="evento" tabindex="30001" value="Novo" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;listaRubricaSituacaoColaborador&#39;);" onmouseover="try{animar(event , &#39;2&#39;)}catch(e){}" onmouseout="try{animar(event, &#39;&#39;)}catch(e){}" id="botao_secao" class="btn btn-default btn-sm">

                  <script>regBotaoEvento('Novo','INCLUIR_DET');</script>

                </div>

              </div>

              <div class="conteudoComponenteRetratil panel-body">


              <div class="row form-group">

                <div class="col-sm-2" style="text-align:right;"><br>1</div>
                <div class="col-sm-4">
                  <label for="listaRubricaTipoPagamento[0].dataInicioVigenciaFormatada" class="label-control">Início de Vigência</label>
                  <input type="text" name="listaRubricaSituacaoColaborador[0].dataInicioVigenciaFormatada" maxlength="10" size="11" value="" class="form-control datepicker" id="dp1450462181065">
                </div>
                <div class="col-sm-4">
                  <label for="listaRubricaTipoPagamento[0].dataFimVigenciaFormatada" class="label-control">Término de Vigência</label>
                  <input type="text" name="listaRubricaSituacaoColaborador[0].dataFimVigenciaFormatada" maxlength="10" size="11" value="" class="form-control datepicker" id="dp1450462181066">
                </div>
                <div class="col-sm-6">
                  <label for="listaRubricaSituacaoColaborador[0].identificadorSituacaoColaborador" class="label-control">Situações</label>
                  <select name="listaRubricaSituacaoColaborador[0].identificadorSituacaoColaborador" class="form-control"><option value="">[Selecione...]</option></select>
                </div>     

              </div>

                  </div>

                </div>
              </div>
            </div>

          </div>
        </div>