<div class="row">
  <div class="col-sm-24">
    <div id="componenteVisual" class="form-group panel panel-default componenteRetratil">

 
<script>
  var ancora  = "";
  var pos     = -1;
</script>
  <div class="panel-heading componente-titulo">

    <div class="col_hierarq contrai-btn">
      <!-- Botao de + - -->
      
        <script>
          ancora  = "";
          if(ancora != ""){
            setTimeout("setAncora('#"+ancora+"')", 10);
          } 
        </script>

<input type="submit" name="evento" tabindex="30000" value="-" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;pIdPlc=listaRubricaBaseCalculo&amp;acao=retrai&amp;pBPlc=0&amp;pOPlc=0#listaRubricaBaseCalculo&#39;);" class="botao_menos">



<script>regBotaoEvento('-','PORTLET_RETRAI');</script>
<script>regBotaoEvento('+','PORTLET_EXPANDE');</script>

      
      <!-- Fim botao + - -->
    </div>
      <script>
        var idPortlet   = "listaRubricaBaseCalculo";
        var campoFoco   = "";
        if(ancora != "" && ancora == idPortlet){
          setVarGlobal("idPortlet", idPortlet);
          
        }
      </script>
  
  
    

  Base de Cálculo&nbsp;


      <div class="controles-right">
      






















<input type="submit" name="evento" tabindex="30001" value="Novo" onclick="setValorCampo(&#39;detCorrPlc&#39;,&#39;listaRubricaBaseCalculo&#39;);" onmouseover="try{animar(event , &#39;2&#39;)}catch(e){}" onmouseout="try{animar(event, &#39;&#39;)}catch(e){}" id="botao_secao" class="btn btn-default btn-sm">


<script>regBotaoEvento('Novo','INCLUIR_DET');</script>


      </div>

  </div>


    
      
      
      
      
    




 
  <div class="conteudoComponenteRetratil panel-body">

        
          
        









  <div class="row">
    <div class="col-sm-3 form-inline">&nbsp;</div>
    <div class="col-sm-3 form-inline">Início de Vigência<span class="text-warning">*</span></div>
    <div class="col-sm-3 form-inline">Término de Vigência</div>
    <div class="col-sm-3 form-inline">Rubricas<span class="text-warning">*</span></div>
    <div class="col-sm-3">
      <b>1</b>
      
    </div>
    <div class="col-sm-3 form-inline right-addon inner-addon">
      <input type="text" name="listaRubricaBaseCalculo[0].dataInicioVigenciaFormatada" maxlength="10" size="11" value="" id="dataInicioVigenciaFormatadaBC0" class="form-control datepicker hasDatepicker" disabled="">
    <i class="icon icon-calendar3"></i></div>
    <div class="col-sm-3 form-inline right-addon inner-addon">
      <input type="text" name="listaRubricaBaseCalculo[0].dataFimVigenciaFormatada" maxlength="10" size="11" value="" id="dataFimVigenciaFormatadaBC0" class="form-control datepicker hasDatepicker" disabled="">
    <i class="icon icon-calendar3"></i></div>
    <div class="col-sm-3 form-inline">
      <select name="listaRubricaBaseCalculo[0].identificadorRubricaBase" id="identificadorRubricaBaseBC0" class="form-inline chosen " style="display: none;" disabled=""><option value="">[Selecione...]</option></select><div class="chosen-container chosen-container-single" style="width: 109px;" title="" id="identificadorRubricaBaseBC0_chosen"><a class="chosen-single" tabindex="-1"><span>[Selecione...]</span><div><b></b></div></a><div class="chosen-drop"><div class="chosen-search"><input type="text" autocomplete="off"></div><ul class="chosen-results"><li class="active-result result-selected" data-option-array-index="0">[Selecione...]</li></ul></div></div>
    </div>
  </div>


  </div>


    </div>
  </div>
</div>