<ion-view title="Simulação" ng-controller="AlteracaoRmvSaqueCtrl.resultado" overflow-scroll="true" has-bouncing="false" padding="false" >
<!-- <ion-view title="Simulação" has-bouncing="false" padding="false" > -->
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider header-page softrow">
      <div class="row">
        <div class"col">
           Resultado da Alteração de benefício para RMV e Saque Programado
        </div>
      </div>
    </div>
    
    <div class="item extratoDoMes">
      <div class="separador">
        <div class="label row" >
          <div class="col text col-67">Saldo de conta RMV ({{value.percentual_rmv}}%)</div>
          <div class="col valor">{{value.saldo_conta_considerado}}</div>
        </div>
      </div>


      <div class="separador">
        <div class="label row">
          <div class="col text col-67">Renda mensal vitalícia - valor bruto</div>
          <div class="col valor">{{value.rmv_val_bruto}}</div>
        </div> 
      </div>


      <div class="separador">
        <div class="label row" >
          <div class="col text col-67">Unidade previdenciária</div>
          <div class="col valor">{{value.un_previdenciaria}}</div>
        </div>
      </div>
  </div>

  <div class="item item-divider softrow">
    <div class="row">
      <div class="col">
        Resultado da simulação  de saque programado
      </div>
    </div>
  </div>

  <div class="item extratoDoMes">
    <div class="separador">
      <div class="label row" >
        <div class="col text col-67">Saldo de conta de saque programado ({{value.percentual_saque}}%)</div>
        <div class="col valor">{{value.saldo_conta_saq_prog}}</div>
      </div>
    </div>


    <div class="separador">
      <div class="label row" >
        <div class="col text col-67">Renda mensal vitalícia não vigente - valor bruto</div>
        <div class="col valor">{{value.ultima_renda_valor}}</div>
      </div> 
    </div>


    <div class="separador">
      <div class="label row" >
        <div class="col text col-67">Prazo previsto para manutenção de benefício</div>
        <div class="col valor">{{value.prazo_prev_manutencao_benef}}</div>
      </div>
    </div>
  </div>

  <div class="item item-divider softrow">
    <div class="row">
      <div class="col">
        Resultados consolidado da Simulação
      </div>
    </div>
  </div>

  <div class="item extratoDoMes">
    <div class="separador">
      <div class="label row" >
        <div class="col text col-67">Renda mensal total - valor bruto</div>
        <div class="col valor">{{value.result_simulacao_consolidada}}</div>
      </div>
    </div>


    <div class="separador">
      <div class="label row" >
        <div class="col text col-67">Valor do imposto de renda ({{desc_opcao_tributacao}})</div>
        <div class="col valor">{{value.val_ir}}</div>
      </div>
    </div>
  </div>


  
  
<div  ng-show="value.pensao == 'S'">
  <div class="item item-divider softrow">
    
    <div class="row">
      <div class="col col-100">
          Relação de beneficiários selecionados para pensão
      </div>
    </div>
  </div>


  <div id="beneficiarios" ng-repeat="(key, value) in beneficiarios" ng-show="beneficiarios[key].selecionado == 'S'">

    <div class="menu-item item item-divider softrow">

      <div class="row">
        <div class="col col-100">
           Beneficiário {{key+1}}
        </div>
      </div>
     
    </div>

    <div>
       <div class="extratoDoMes item">
           <div class="label row">
              <div class="col col-67 text">
                Data de nascimento
              </div>
              <div class="col valor">
               {{value.data_nascimento}}
              </div>
            </div>
            <div class="label row">
              <div class="col col-67 text">
                Vínculo
              </div>
              <div class="col valor">
                {{map.vinculo[value.vinculo]}}
              </div>
            </div>
            <div class="label row">
             <div class="col col-67 text">
                Sexo
              </div>
              <div class="col valor">
                {{map.sexo[value.sexo]}}
              </div>
            </div>
            <div class="label row">
              <div class="col col-67 text">
                Parentensco
              </div>
              <div class="col valor">
                {{map.parentesco[value.cod_parentesco]}}
              </div>
            </div>
        </div>
    </div>

  </div>
</div>

  <div class="list">
    <form class="formCampos" class="formCampo">
      
      <div class="box-calculo">
            
        <div class="item">
          
          <div class="row">
            <div class="col">
              <div class="input-label">Rentabilidade anual</div>
            </div>
            <div class="col col-28">
              <label class="item item-input">
                <input type="tel" name="" placeholder="" ui-number-mask="1"mask-restrict='reject' ng-model="formData.estimativa_rent_apos">
              </label>
            </div>
            <div class="col col-05">
               <span class="input-label box ">%</span>
            </div>
          </div>

        </div>

      </div>


      <div class="padding">
         <div class="the_error">
              <p ng-show="errorMsg" class="errorMsg assertive" ng-bind="errorMsg"></p>
            </div>
        <div class="button-bar">
          <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Recalcular Simulação" ng-click="submit(formData)">      
        </div>
      </div>

      <div class="item obs">
        Atenção:
        <div class="text-small no-wrap">
          <p ng-bind-html="texto_alteracao_rmv_saque">
          </p>
        </div>
      </div>
    </form>
  </div>

</div>


  </ion-content>
</ion-view>