<ion-view title="Simulação" ng-controller="AlteracaoPercentualRetiradaCtrl.resultado" has-bouncing="false" padding="false" >

<!-- <ion-view title="Simulação" has-bouncing="false" padding="false" > -->

 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list alteracao" id="mainMenu">

      <div class="item item-divider softrow">
        <div class="row">
          <div class="col">
            Resultado da Alteração do Percentual de retirada
          </div>
        </div>
       
      </div>
      
      <div class="item extratoDoMes">
      <div class="separador">
        <div class="label row" >
            <div class="col text col-67">Renda mensal não vitalícia vigente - valor bruto</div>
            <div class="col valor">{{value.val_bruto}}</div>
          </div>
        </div>

      <div class="separador">
        <div class="label row" >
            <div class="col text col-67">Valor do imposto de renda  ({{desc_opcao_tributacao}})</div>
            <div class="col valor">{{value.rmv_ir}}</div>
          </div>
        </div>


        <div class="separador">
          <div class="label row" >
            <div class="col text col-67">Saldo de conta de saque programado<br/>Para Calculo do Benefício em 12/2016</div>
            <div class="col valor">{{value.saldo_conta_considerado}}</div>
          </div> 
        </div>


        <div class="separador">
          <div class="label row" >
            <div class="col text col-67">Prazo previsto para manutenção do benefício<br />Caso percentual de saque não seja alterado</div>
            <div class="col valor">{{value.prazo_prev_manutencao_benef}}</div>
          </div>
        </div>


        <div class="separador">
          <div class="label row" >
            <div class="col text col-67">Última renda mensal não vitalícia ({{value.ultima_renda_data}})</div>
            <div class="col valor">{{value.ultima_renda_valor}}</div>
          </div> 
        </div>


        <div class="separador">
          <div class="label row" >
            <div class="col text col-67">Saldo remanescente a ser pago ({{value.saldo_remanescente_data}})</div>
            <div class="col valor">{{value.saldo_remanescente_valor}}</div>
          </div> 
        </div>

    </div>

  <div class="list">
   
    <form class="formCampos">
      
      <div class="box-calculo">

        <div class="item ">
          
          <div class="row">

            <div class="col">
              <div class="input-label">
                Rentabilidade anual
                <small class="legend upper">Após o início do benefício</small>
              </div>
            </div>

            <div class="col col-25">
              <label class="item item-input ">
                <input type="text" name="" ng-model="formData.estimativa_rentabilidade" ui-number-mask="1" placeholder="">
              </label>
            </div>

            <div class="col col-05">
               <span class="input-label box ">%</span>
            </div>

          </div>

        </div>
        
        <div class="item">

          <div class="row">
            <div class="col">
         <div class="the_error">
              <p ng-show="errorMsg" class="errorMsg assertive" ng-bind="errorMsg"></p>
            </div>
              <div class="button-bar">
                <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Recalcular Simulação" ng-click="submit(formData)">      
              </div>
            </div>
          </div>
        </div>
       
        

      </div>

      <div class="item obs">
        Atenção:
        <div class="text-small no-wrap">
          <p ng-bind-html="value.texto_alteracao_percentual_retirada">
          </p>
        </div>
      </div>
    </form>
  </div>  

</div>
</div>


  </ion-content>
</ion-view>