<ion-view title="Simulação" ng-controller="SimulacaoRmvAposentadoCtrl.resultado" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
     
      <div class="row">
        <div class="col col-100">
           Resultado da alteração para RMV
        </div>
      </div>

    </div>
    
    <div class="item extratoDoMes">
      <div class="separador">
        <div class="label row" >
          <div class="col col-80">Saldo de conta total</div>
          <div class="col valor">{{value.saldo_conta_considerado}}</div>
        </div>
      </div>

      <div class="separador">
        <div class="label row" >
          <div class="col col-80">Renda mensal vitalícia - valor bruto</div>
          <div class="col valor">{{value.val_bruto}}</div>
        </div> 
        <div class="label row" >
          <div class="col col-80">Valor do imposto de renda ({{desc_opcao_tributacao}})</div>
          <div class="col valor">{{value.rmv_ir}}</div>
        </div> 
      </div>

      <div class="separador">
        <div class="label row" >
          <div class="col col-80">Unidade previdenciária</div>
          <div class="col valor">{{value.un_previdenciaria}}</div>
        </div>
      </div>

      <div class="separador">
        <div class="label row" >
          <div class="col col-80">Pagamento integral</div>
          <div class="col valor">{{value.pagt_integral}}</div>
        </div>
        <div class="label row" >
          <div class="col col-80">Valor do imposto de renda ({{desc_opcao_tributacao}})</div>
          <div class="col valor">{{value.pagt_integral_ir}}</div>
        </div>
      </div>
  </div>

  

  <div class="item item-divider softrow" ng-show="formData.pensao == 'S'">
    
    <div class="row">
      <div class="col col-100">
          Relação de beneficiários selecionados para pensão
      </div>
    </div>
  </div>


  <div id="beneficiarios" ng-repeat="(key, value) in beneficiarios" ng-show="formData.pensao == 'S'">

    <div class="menu-item item item-divider softrow">

      <div class="row">
        <div class="col col-100">
           Beneficiário {{key+1}}
        </div>
      </div>
     
    </div>

    <div class="child-dropdown">
       <div class="extratoDoMes item">
           <div class="label row">
              <div class="col col-67 text">
                Data de nascimento
              </div>
              <div class="col valor">
               {{value.data_nascimento}}
              </div>
            </div>
            <div class="label row">
              <div class="col col-67 text">
                Vínculo
              </div>
              <div class="col valor">
                {{map.vinculo[value.vinculo]}}
              </div>
            </div>
            <div class="label row">
             <div class="col col-67 text">
                Sexo
              </div>
              <div class="col valor">
                {{map.sexo[value.sexo]}}
              </div>
            </div>
            <div class="label row">
              <div class="col col-67 text">
                Parentensco
              </div>
              <div class="col valor">
                {{map.parentesco[value.cod_parentesco]}}
              </div>
            </div>
        </div>
    </div>

  </div>

  

  <div class="list">
   
    <form class="formCampos">
      <div class="item obs">
        Atenção:
        <div class="text-small no-wrap">
          <p>
            {{texto_alteracao_rmv_aposentado}}
          </p>
        </div>
      </div>
    </form>
  </div>  

</div>
</div>


  </ion-content>
</ion-view>