<ion-view title="Simulação" ng-controller="emprestimoSimulacaoCamposCtrl" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
    Limites de Crédito
    </div>
    <div class="item">   
      <div class="label row th">
         <div class="col col-67 label">Prazo</div>
         <div class="col label valor">Valor</div>
      </div>
      <div class="label row" ng-repeat="(key,value) in emprestimoSimulacaoCampos.limitesCreditos">
        <div class="col-67">{{value.prazo}}</div>
        <div class="col valor">{{value.valor}}</div>
      </div>
    </div>
    <div class="item item-divider softrow">
      Dados da Simulação
    </div>
    <div class="item ng-cloak" ng-show="contrato" id="emprestimoAnterior">
       <h4 class="title emprestimoInfo">Liquidação de Empréstimo por Nova Contratação<br />
                     Contrato N. {{contrato[0].numero_contrato}}</h4>

       <div class="label row">
         <div class="col col-50">Saldo Devedor</div>
           <div class="col valor">{{contrato[0].saldo_devedor}}</div>
           </div>
           <div class="label row">
             <div class="col col-50">Taxa de Administração</div>
             <div class="col valor">{{contrato[0].taxa_administracao}}</div>
           </div>
           <div class="label row">
             <div class="col col-50">Saldo Devedor Total</div>
             <div class="col valor">{{contrato[0].saldo_devedor_total}}</div>
           </div>
        </div>

        <form id="formCampos">
            <div class="item">
             <label class="item item-input item-select">
                <div class="input-label">
                    Prazo Inicial
                </div>
                <select class="ion-input-select" ng-model="formData.prazoInicial" ng-options="key as value.prazo for (key,value) in emprestimoSimulacaoCampos.limitesCreditos">
                 <option value="">- Selecione -</option>
                </select>
            </label>
            <label class="item item-input item-select">
              <div class="input-label">
                  Tipo de Simulação
              </div>
              <select class="ion-input-select" ng-model="formData.tipo" ng-options="key as value for (key , value)  in emprestimoSimulacaoCampos.tipo_simulacao">
                 <option value="">- Selecione -</option>
              </select>
            </label>
            <label class="item item-input">
              <span class="input-label">
                  Valor
              </span>
              <input type="tel" ng-keyup="currency(formData.valor, $event)" maxlength="12" ng-model="formData.valor" placeholder="R$ 0,00" id="valorEmprestimo">
            </label>
          </div>
          <div class="the_error">
            <p ng-show="errorMsg" class="errorMsg assertive" ng-bind="errorMsg"></p>
          </div>
          <div class="padding">
            <div class="button-bar">
              <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Calcular Simulação" ng-click="submit(formData)">      
            </div>
          </div>
        </form>
    </div>
  </div>

  </ion-content>
</ion-view>