<ion-view title="Simulação" ng-controller="EmprestimoSimulacaoCamposEmitidoCtrl">
 <ion-content class="has-header emitido" id="consultaEmprestimo">
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list nome_emprestimo" id="mainMenu">        
  <h5>{{emitido.tipo_emprestimo}}</h5>
  <div class="item item-divider softrow">
      Resultado da Simulação
  </div>

  <div class="item">

    <div class="label row ng-cloak" ng-show="emitido.result.data_credito" ng-cloak>
        <div class="col col-25 ">Data de Crédito</div>
        <div class="col valor">{{emitido.result.data_credito}}</div>
  </div>
  <div class="label row">
         <div class="col col-25 ">Saldo Devedor Inicial</div>
         <div class="col valor">{{emitido.result.saldo_devedor_inicial}}</div>
    </div>
    <div class="label row">
        <div class="col col-25 ">Prestação Inicial</div>
        <div class="col valor">{{emitido.result.prestacao_inicial}}</div>
  </div>
    <div class="label row" ng-show="naotemainda">
        <div class="col col-25 ">Vencimento 1a Prestação</div>
        <div class="col valor">-</div>
  </div>
    <div class="label row">
        <div class="col col-25 ">Seguro Prestamista</div>
        <div class="col valor">{{emitido.result.seguro_prestamista}}</div>
  </div>
    <div class="label row">
        <div class="col col-25 ">IOF</div>
        <div class="col valor">{{emitido.result.iof}}</div>
  </div>
    <div class="label row">
        <div class="col col-25 ">Valor Líquido a Receber</div>
        <div class="col valor">{{emitido.result.valor_liquido_a_receber}}</div>
  </div>
  </div>
  
     
  </ion-content>
</ion-view>