<ion-view title="Extrato de Contas" >
 <ion-content class="has-header" ng-controller="ExtratoCtrl">
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list extratoDeContas" id="mainMenu">        
    <div class="item item-divider softrow">
      Extrato de Contas Mensal
    </div>
    <div class="item">
    <form ng-submit="submit()">
      
      <label class="item item-input item-select">
        <div class="input-label">
          Mês
        </div>
		    <select  class="ion-input-select" ng-model="formData.cod_ano_mes">
          <option value="">- Selecione -</option>
          <option 
             ng-repeat="(key, value) in extrato"
             value="{{ value.cod_ano_mes }}">{{value.desc_ano_mes}}</option>
    		</select>
    	</label>
      <div class="the_error">
        <p ng-show="errorMsg" class="errorMsg assertive">{{errorMsg}}</p>
      </div>
      <div class="button-bar" padding="true">      
        <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Visualizar Extrato">      
        <div ng-show="loading" class="button button-positive button-block" id="loading"><ion-spinner icon="android"></ion-spinner></div>
      
      </div>
    </form>
    </div>
  </div>
  </ion-content>
</ion-view>