<ion-view hide-nav-bar="true" id="signin" overflow-scroll="true" has-bouncing="false" >
   <ion-content overflow-scroll="true" has-bouncing="false" padding="false" id="signin">
    <form ng-controller="signin" ng-submit="submit()" class="list list-inset" id="login-form">
      
    <div class="list">
        
      <div id="logo-login">
      <img src="img/logo-login.png" class="img-login">
      </div>
    </div>

      <p>Preencha seus dados pessoais para entrar</p>
      <label class="item item-input" style="background-color:  transparent !important;">
       
        <input style="background-color:  transparent !important; color: whitesmoke; font-weight: 600;" type="tel" placeholder="CPF" ng-change="onChangeDeBiometriaMockado()" class="cpfField" ng-model="formData.cpf" mask="99999999999" mask-restrict='reject'>
      </label>
      <label class="item item-input" style="background-color:  transparent !important;">
        <input  style="background-color:  transparent !important; color: whitesmoke; font-weight: 600;" type="password" placeholder="Senha" mask="99999999999999999999" mask-restrict='reject' ng-model="formData.sen" id="passwordField">
      </label> 
 
      <!-- <input type="hidden" ng-model="formData.acao" ng-init="formData.acao = 'logar'"> -->

      <div class="the_error">
        <p style="text-align: center; color: #056582; font-size: 1.5em;"style="text-align: center; color: #056582; font-size: 1.5em;" ng-show="errorMsg" class="errorMsg assertive" ng-bind-html="errorMsg"></p>
      </div>
      
      <input ng-hide="loading" type="submit" ng-click="console.log(formData)" class="button button-positive button-block" ng-model="submitLogin" value="Entrar">      
      <div ng-show="loading" class="button button-positive button-block" id="loading"><ion-spinner icon="android"></ion-spinner></div>

    </form>
  
    </ion-content>

    <ion-footer-bar align-title="left" class="bar-light footerTermos" style="background-color:  transparent !important;">
      <div class="title" align-title="center" style="background-color:  transparent !important;">
        <a class="button button-clear" href="#/termo-de-uso">Termo de Uso</a>
      </div>
    </ion-footer-bar>
</ion-view>