<ion-view title="Resgate" ng-controller="SimulacaoResgateCtrl">
 <ion-content class="has-header" id="simulacaoResgate">
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <!-- 
  JSON Saída: 

  { 
     "success":true, 
     "msg":"", 
     "result":{ 
        "sub_total_saldo":"7.772,12", 
        "qtd_dependente_irrf":"0", 
        "texto_observacao":"TEXTO QUALQUER", 
        "joia":"0,00", 
        "irrf":"2.720,24", 
        "participante":"7.772,12", 
        "financ_imobiliario":"0,00", 
        "sub_total_descontos":"5.367,85", 
        "patrocinadora":"0,00", 
        "atualizado_em":"08/04/2015", 
        "emprestimos":"2.647,61", 
        "outros":"0,00", 
        "resgate_liquido":"2.404,27", 
        "portab_aberta":"0,00", 
        "portab_fechada":"0,00" 
     }, 
     "login":{ 
        "s":"4F6719F660CAD02F5A19A8976CA02976", 
        "u":"01724D32AE45EDC2B7D5718E7EBA66CE" 
     } 
  } 
  -->

  <div class="list" id="mainMenu">        
  <div class="item item-divider">
    <h3>Atualizado em {{resgate.atualizado_em}}</h3>
  </div>
  <div class="item item-divider">
      Saldos de Contas
  </div>

  <div class="item">
  
    <div class="label row">
      <div class="col col-25 softcolor">Participante</div>
      <div class="col valor">{{resgate.participante}}</div>
    </div>
  
    <div class="label row">
      <div class="col col-25 softcolor">Patrocinadora</div>
      <div class="col valor">{{resgate.patrocinadora}}</div>
    </div>
    <!-- 
    <div class="label row">
      <div class="col col-25 softcolor">Jóia</div>
      <div class="col valor">{{resgate.joia}}</div>
    </div>
    -->
    <div class="label row">
      <div class="col col-25 softcolor">Outros</div>
      <div class="col valor">{{resgate.outros}}</div>
    </div>
  
    <div class="label row">
      <div class="col col-25 softcolor">Portab. Aberta</div>
      <div class="col valor">{{resgate.portab_aberta}}</div>
    </div>
    <hr>
    <div class="label row">
      <div class="col col-25">Sub-Total</div>
      <div class="col valor">{{resgate.sub_total_saldo}}</div>
    </div>
    
  </div>
  <div class="item item-divider">
      Descontos
  </div>

  <div class="item">
  
    <div class="label row">
      <div class="col col-25 softcolor">Empréstimos</div>
      <div class="col valor">{{resgate.emprestimos}}</div>
    </div>
  
    <div class="label row">
      <div class="col col-25 softcolor">Financiamento Imobiliário</div>
      <div class="col valor">{{resgate.financ_imobiliario}}</div>
    </div>
  
    <div class="label row">
      <div class="col col-25 softcolor">IRRF</div>
      <div class="col valor">{{resgate.irrf}}</div>
    </div>
  
    <div class="label row" ng-hide="resgate.qtd_dependente_irrf == 'N'">
      <div class="col col-25 softcolor">Qtd. Dependentes IRRF</div>
      <div class="col valor">{{resgate.qtd_dependente_irrf}}</div>
    </div>
  
    <div class="label row">
      <div class="col col-25 softcolor">Portab. Fechada</div>
      <div class="col valor">{{resgate.portab_fechada}}</div>
    </div>
    <hr>
    <div class="label row">
      <div class="col col-25">Sub-Total</div>
      <div class="col valor">{{resgate.sub_total_descontos}}</div>
    </div>
    
  </div>
  
  <div class="item">
  
    <div class="label row">
      <div class="col col-25"><strong>Resgate Líquido</strong></div>
      <div class="col valor"><strong>{{resgate.resgate_liquido}}</strong></div>
    </div>
  </div>
  <!-- 
  <div class="item item-text-wrap assertive" ng-bind-html="resgate.texto_observacao">
  </div>
  ng-show="resgate.flag_botao_resgate"
  -->
  <div class="padding">
    <div class="button-bar" ng-show="resgate.flag_botao_resgate != 'S'">
      <input ng-hide="loading" type="submit" class="button button-positive button-block"  ng-click="submit()" value="Enviar Requerimento">      
      <div ng-show="loading" class="button button-positive button-block" id="loading"><ion-spinner icon="android"></ion-spinner></div>
    </div>
  </div>
  <div class="the_error">
    <p style="text-align: center; color: #056582; font-size: 1.5em;" ng-show="resgate.flag_botao_resgate == 'S'" ><strong>Resgate já requerido.</strong></p>
  </div>
  </ion-content>
</ion-view>