<ion-view title="Saldo de Contas">
 <ion-content class="has-header" ng-controller="SaldoCtrl">
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
      Saldo de Contas
    </div>
    <div class="item">
    <form ng-submit="submit()">
      
      <label class="item item-input item-select">
        <div class="input-label">
          Data de Atualização
        </div>
        <select  class="ion-input-select" ng-model="formData.data_atualizacao">
          <option value="">- Selecione -</option>
          <option 
             ng-repeat="(key, value) in saldo"
             value="{{ value.data_atualizacao }}" ng-show="value.data_atualizacao">{{value.data_atualizacao}}</option>
        </select>
      </label>
      <div class="the_error">
        <p ng-show="errorMsg" class="errorMsg assertive">{{errorMsg}}</p>
      </div>
      <div class="button-bar" padding="true">
        <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Visualizar Saldo">      
        <div ng-show="loading" class="button button-positive button-block" id="loading"><ion-spinner icon="android"></ion-spinner></div>
      </div>
    </form>
    </div>
  </div>
  </ion-content>
</ion-view>