<ion-view title="Simulação" ng-controller="AlteracaoPercentualRetiradaCtrl.resultado" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
      Resultado da Alteração do Percentual de retirada
    </div>
    
    <div class="item extratoDoMes">
      <div class="separador">
        <div class="label row" >
          <div class="col col-67">renda mensão não vitalícia vigente - valor bruto</div>
          <div class="col valor">456</div>
        </div>
      </div>
      <hr>
      <div class="separador">
        <div class="label row" >
          <div class="col col-67">saldo de conta de saque programado</div>
          <div class="col valor">0,00</div>
        </div> 
      </div>
      <hr>
      <div class="separador">
        <div class="label row" >
          <div class="col col-67">prazo previsto para manutenção do beneficio</div>
          <div class="col valor">0,00</div>
        </div>
      </div>
      <hr>
      <div class="separador">
        <div class="label row" >
          <div class="col col-67">Ultima renda mensal não vitalícia</div>
          <div class="col valor">0,00</div>
        </div> 
      </div>
      <hr>
      <div class="separador">
        <div class="label row" >
          <div class="col col-67">saldo remanescente a ser pago</div>
          <div class="col valor">0,00</div>
        </div> 
      </div>
  </div>

  <div class="item item-divider softrow">
    <label class="item item-input ">
      <div class="input-label">
        Rentabilidade anual
      </div>
      <input type="text" name="" placeholder="" ng-model="">
    </label>
    <div class="padding">
      <div class="button-bar">
        <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Recalcular Simulação" ng-click="submit(formData)">      
      </div>
    </div>
  </div>
  <div class="list">
   
    <form class="formCampos">
      <div class="item">
        Atenção:
        <div class="text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quos necessitatibus unde delectus,
            tenetur quidem natus veniam aspernatur 
            eveniet blanditiis quisquam alias omnis neque quia
            iure sint nulla molestias recusandae repellendus!
          </p>
        </div>
      </div>
    </form>
  </div>  

</div>
</div>


  </ion-content>
</ion-view>