<ion-view title="Simulação" ng-controller="AlteracaoRmvSaqueCtrl" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
      Alteração de benefício para RMV e Saque
    </div>
    <div class="item item-divider softrow">
      Escolha os percentuais de distribuição do saldo
    </div>
        <form id="formCampos">
          <div class="item">

            <label class="item item-input item-stacked-label">
              <span class="input-label">SAQUE PROGRAMADO</span>
              <input type="text" name="telefone" placeholder="26%" ng-model="formData.telefone">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">RENDA MENSAL VITALÍCIA</span>
              <input type="text" name="email" placeholder="74%" ng-model="formData.email">
            </label>
            <label class="item item-input item-stacked-label">
              <span class="input-label">Dependentes para fins de IR</span>
              <input type="text" name="mensagem" placeholder="1" ng-model="formData.mensagem">
            </label>
           

          </div>

          <div class="item item-divider softrow">
            Premissas Específicas de saque programado
          </div>

            <div class="item">
              <label class="item item-input item-stacked-label">
                <span class="input-label">Renda mensal</span>
                <input type="text" name="email" placeholder="Em percentual do saldo da conta" ng-model="formData.email">
              </label>
              <label class="item item-input item-stacked-label">
                <span class="input-label">Estimativa de rentabilidade</span>
                <input type="text" name="mensagem" placeholder="Média anual real após o início do benefício" ng-model="formData.mensagem">
              </label>

              <label class="item item-input item-select">
                <div class="input-label">
                    Abono Anual?
                </div>
                <select class="ion-input-select" ng-model="formData.tipo" ng-options="key as value for (key , value)  in emprestimoSimulacaoCampos.tipo_simulacao">
                   <option value="">NÃO</option>
                </select>
              </label>
            </div>
          
          <div class="item item-divider softrow">
            Premissas específicas de RMV
          </div>

            <div class="item">
              <label class="item item-input item-select">
                <div class="input-label">
                    Tipo de Reajuste
                </div>
                <select class="ion-input-select" ng-model="formData.tipo" ng-options="key as value for (key , value)  in emprestimoSimulacaoCampos.tipo_simulacao">
                   <option value="">RENTABILIDADE</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <div class="input-label">
                    Com pensão?
                </div>
                <select class="ion-input-select" ng-model="formData.tipo" ng-options="key as value for (key , value)  in emprestimoSimulacaoCampos.tipo_simulacao">
                   <option value="">NÃO</option>
                </select>
              </label>
            </div>

          <div class="the_error">
            <p ng-show="errorMsg" class="errorMsg assertive" ng-bind="errorMsg"></p>
          </div>
          <div class="padding">
            <div class="button-bar">
              <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Calcular Simulação" ng-click="submit(formData)">      
            </div>
          </div>
        </form>
    </div>
  </div>

  </ion-content>
</ion-view>