<ion-view title='<img id="mainLogo" src="img/logo.png">' cache-view="false"
          animation="slide-left-right" hide-back-button="true"
          overflow-scroll="true" class="fade-in">
    <ion-content has-header="false" padding="false" class="has-header" ng-controller="PreferenciasCtrl">
        <div class="headerInfo">
            <div ng-include="'js/directives/userInfo.html'"></div>
        </div>

        <div class="list">

            <div class="item item-divider softrow">
                Preferências
            </div>

            <ion-toggle ng-repeat="item in settingsList"
                        ng-model="item.checked"
                        ng-checked="item.checked"
                        ng-click="item.action($event)">
                {{ item.text }}
            </ion-toggle>
        </div>
    </ion-content>
</ion-view>
