<ion-view title="Simulação" ng-controller="SaldoContasCtrl" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    
    <div class="item item-divider softrow">
      Saldo de Contas
    </div>
    <form id="formCampos">
      <div class="item">
        <label class="item item-input item-select">
          <div class="input-label">
              Data de Atualização
          </div>
          <select class="ion-input-select" ng-model="formData.tipo" ng-options="key as value for (key , value)  in emprestimoSimulacaoCampos.tipo_simulacao">
             <option value="">20/09/2016</option>
          </select>
        </label>
        <div class="button-bar">
          <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Consultar Saldo" ng-click="submit(formData)">      
        </div>
      </div>
    </form>
    <div class="item item-divider softrow">
      Saldo de Contas <span>Atualizado em 20/09/2016</span>
    </div>
    <div class="item extratoDoMes">
      <div class="label row" >
        <div class="col col-67">TOTAL</div>
        <div class="col valor">0,00</div>
      </div>
  </div>
  <div class="item item-divider softrow">
    Saldo detalhado
  </div>
    <div class="item extratoDoMes">
      
      <div class="label row" >
        <div class="col col-6">Conta</div>
      </div>
      
      <hr>

      <div class="label row" >
        <div class="col col-6">contrib participante</div>
      </div> 

      <div class="label row" >
        <div class="col col-6">fundo</div>
        <div class="col valor">Lorem ipsum dolor sit amet</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">data</div>
        <div class="col valor">14/05/2015</div>
      </div> 
    
      <div class="label row" >
        <div class="col col-6">valor</div>
        <div class="col valor">0,00</div>
      </div>
    
      <div class="label row" >
        <div class="col col-6">qttd. cotas</div>
        <div class="col valor">0,00</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">vr. financeiro</div>
        <div class="col valor">0,00</div>
      </div>

      <hr>

       <div class="label row" >
        <div class="col col-6">contrib participante</div>
      </div> 

      <div class="label row" >
        <div class="col col-6">fundo</div>
        <div class="col valor">Lorem ipsum dolor sit amet</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">data</div>
        <div class="col valor">14/05/2015</div>
      </div> 
    
      <div class="label row" >
        <div class="col col-6">valor</div>
        <div class="col valor">0,00</div>
      </div>
    
      <div class="label row" >
        <div class="col col-6">qttd. cotas</div>
        <div class="col valor">0,00</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">vr. financeiro</div>
        <div class="col valor">0,00</div>
      </div>

      <hr>

       <div class="label row" >
        <div class="col col-6">contrib. patrocinadora</div>
      </div> 

      <div class="label row" >
        <div class="col col-6">fundo</div>
        <div class="col valor">Lorem ipsum dolor sit amet</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">data</div>
        <div class="col valor">14/05/2015</div>
      </div> 
    
      <div class="label row" >
        <div class="col col-6">valor</div>
        <div class="col valor">0,00</div>
      </div>
    
      <div class="label row" >
        <div class="col col-6">qttd. cotas</div>
        <div class="col valor">0,00</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">vr. financeiro</div>
        <div class="col valor">0,00</div>
      </div>

      <hr>

       <div class="label row" >
        <div class="col col-6">contrib. patrocinadora</div>
      </div> 

      <div class="label row" >
        <div class="col col-6">fundo</div>
        <div class="col valor">Lorem ipsum dolor sit amet</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">data</div>
        <div class="col valor">14/05/2015</div>
      </div> 
    
      <div class="label row" >
        <div class="col col-6">valor</div>
        <div class="col valor">0,00</div>
      </div>
    
      <div class="label row" >
        <div class="col col-6">qttd. cotas</div>
        <div class="col valor">0,00</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">vr. financeiro</div>
        <div class="col valor">0,00</div>
      </div>

      <hr>

       <div class="label row" >
        <div class="col col-6">cred. transf. particip</div>
      </div> 

      <div class="label row" >
        <div class="col col-6">fundo</div>
        <div class="col valor">Lorem ipsum dolor sit amet</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">data</div>
        <div class="col valor">14/05/2015</div>
      </div> 
    
      <div class="label row" >
        <div class="col col-6">valor</div>
        <div class="col valor">0,00</div>
      </div>
    
      <div class="label row" >
        <div class="col col-6">qttd. cotas</div>
        <div class="col valor">0,00</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">vr. financeiro</div>
        <div class="col valor">0,00</div>
      </div>

      <div class="label row" >
        <div class="col col-6">emprestimo</div>
      </div> 

      <div class="label row" >
        <div class="col col-6">fundo</div>
        <div class="col valor">Lorem ipsum dolor sit amet</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">data</div>
        <div class="col valor">14/05/2015</div>
      </div> 
    
      <div class="label row" >
        <div class="col col-6">valor</div>
        <div class="col valor">0,00</div>
      </div>
    
      <div class="label row" >
        <div class="col col-6">qttd. cotas</div>
        <div class="col valor">0,00</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">vr. financeiro</div>
        <div class="col valor">0,00</div>
      </div>

      <div class="label row" >
        <div class="col col-6">ajuste emprestimo</div>
      </div> 

      <div class="label row" >
        <div class="col col-6">fundo</div>
        <div class="col valor">Lorem ipsum dolor sit amet</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">data</div>
        <div class="col valor">14/05/2015</div>
      </div> 
    
      <div class="label row" >
        <div class="col col-6">valor</div>
        <div class="col valor">0,00</div>
      </div>
    
      <div class="label row" >
        <div class="col col-6">qttd. cotas</div>
        <div class="col valor">0,00</div>
      </div> 
      <div class="label row" >
        <div class="col col-6">vr. financeiro</div>
        <div class="col valor">0,00</div>
      </div>

      <hr>

      <div class="label row" >
        <div class="col col-6">TOTAL</div>
        <div class="col valor">0,00</div>
      </div>
    </div>
  <div class="item item-divider softrow">
    RESGATE LÍQUIDO
    <span>0,00</span>
  </div>

  <div class="list">
    <form class="formCampos">
      <div class="item">
        Atenção:
        <div class="text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quos necessitatibus unde delectus,
            tenetur quidem natus veniam aspernatur 
            eveniet blanditiis quisquam alias omnis neque quia
            iure sint nulla molestias recusandae repellendus!
          </p>
        </div>
      </div>
    </form>
  </div>

</div>


  </ion-content>
</ion-view>