<ion-view title="Saldo de Contas">
 <ion-content class="has-header" ng-controller="SaldoCtrl">
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
      Saldo de Contas
    </div>
    <div class="item">
    <form ng-submit="submit()">
      
      <label class="item item-input item-select">
        <div class="input-label">
          Data de Atualização
        </div>
        <select  class="ion-input-select" ng-model="formData.data_atualizacao">
          <option value="">- Selecione -</option>
          <option 
             ng-repeat="(key, value) in saldo"
             value="{{ value.data_atualizacao }}" ng-show="value.data_atualizacao">{{value.data_atualizacao}}</option>
        </select>
      </label>
      <div class="the_error">
        <p ng-show="errorMsg" class="errorMsg assertive">{{errorMsg}}</p>
      </div>
      <div class="button-bar" padding="true">
        <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Visualizar Saldo">      
        <div ng-show="loading" class="button button-positive button-block" id="loading"><ion-spinner icon="android"></ion-spinner></div>
      </div>
    </form>
    </div>
    <div ng-show="saldo.detalhesSaldoContas">
    <div class="item item-divider subitem">
      CONTA
    </div>
    
    <div class="item" id="saldoEmitido">   
      
      <div class="label row">
        <h4 class="col-67">Total</h4>
        <h4 class="col valor">{{saldo.total_financeiro}}</h4>
      </div>
      
      <div class="" ng-repeat="(key,value) in saldo.detalhesSaldoContas">
      <h4>{{value.conta}}</h4>
      
      <div class="label row">
        <div class="softcolor col col-67" class="title_label">Índice</div>
        <div class="col valor">{{value.indice}}</div>
      </div>
      <div class="label row">
        <div class="softcolor col col-67" class="title_label">Data do Índice</div>
        <div class="col valor">{{value.data_indice}}</div>
      </div>
      <div class="label row">
        <div class="softcolor col col-67" class="title_label">Valor do Índice</div>
        <div class="col valor">{{value.valor_indice}}</div>
      </div>
      <div class="label row">
        <div class="softcolor col col-67" class="title_label">Qtd. Cotas</div>
        <div class="col valor">{{value.quantidade_cotas}}</div>
      </div>
      <div class="label row">
        <div class="softcolor col col-67" class="title_label">Vr. Financeiro</div>
        <div class="col valor">{{value.valor_financeiro}}</div>
      </div>
      <hr>
     </div>
      
    </div>
    </div>
  </div>
  </ion-content>
</ion-view>