<ion-view title="Simulação" ng-controller="SimulacaoRendaMensalVitaliciaCtrl.resultado" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
      Resultado da simulação de benefícios
    </div>
    
    <div class="item extratoDoMes">
      <div class="separador">
        <div class="label" >
          <h4 class="title_label">Saldo de conta considerado</h4>
          <p>3232656</p>
        </div>
        <div class="label" >
          <h4 class="title_label">Saldo de conta total</h4>
          <p>456</p>
        </div>
      </div>

      <div class="separador">
        <div class="label" >
          <h4 class="title_label">Renda mensal vitalícia - valor bruto</h4>
          <p>123</p>
        </div> 
        <div class="label" >
          <h4 class="title_label">valor do imposto de renda (progressivo)</h4>
          <p>0,00</p>
        </div> 
      </div>

      <div class="separador">
        <div class="label" >
          <h4 class="title_label">Unidade previvdenciária</h4>
          <p>0,00</p>
        </div>
      </div>

      <div class="separador">
        <div class="label" >
          <h4 class="title_label">Antecipação do benefício</h4>
          <p>0,00</p>
        </div> 
        <div class="label" >
          <h4 class="title_label">valor do imposto de renda (progressivo)</h4>
          <p>0,00</p>
        </div>
      </div>

      <div class="separador">
        <div class="label" >
          <h4 class="title_label">pagamento integral</h4>
          <p>0,00</p>
        </div>
        <div class="label" >
          <h4 class="title_label">valor do imposto de renda (progressivo)</h4>
          <p>0,00</p>
        </div>
      </div>
  </div>

  <div class="item item-divider softrow">
    Relação de beneficiários selecionados para pensão
  </div>

  <div class="item item-divider softrow item-select">
    FILHO(A)
  </div>
  <div class="item item-divider softrow item-select">
    CÔNJUGE
  </div>
  <div class="list">
   
    <form class="formCampos">
      <div class="item">
        Atenção:
        <div class="text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quos necessitatibus unde delectus,
            tenetur quidem natus veniam aspernatur 
            eveniet blanditiis quisquam alias omnis neque quia
            iure sint nulla molestias recusandae repellendus!
          </p>
        </div>
      </div>
    </form>
  </div>  

</div>
</div>


  </ion-content>
</ion-view>