<ion-view title="Simulação" ng-controller="SimulacaoResgateNovoCtrl" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
      Atualizado em 20/09/2016
    </div>
    <div class="item item-divider softrow">
      Saldo de Contas
    </div>
    
    <div class="item extratoDoMes">
      
      <div class="row label" >
        <div class="col col-67">participante</div>
        <div class="col valor">3232656</div>
      </div>
      <div class="row label" >
        <div class="col col-67">patrocinadora</div>
        <div class="col valor">456</div>
      </div>
 
      <div class="row label" >
        <div class="col col-67">Jóia</div>
        <div class="col valor">123</div>
      </div> 
      <div class="row label" >
        <div class="col col-67">Outros</div>
        <div class="col valor">0,00</div>
      </div> 

      <div class="row label" >
        <div class="col col-67">portab. aberta</div>
        <div class="col valor">0,00</div>
      </div>
      
      <hr>
      <div class="row label" >
        <div class="col col-67">SUB-TOTAL</div>
        <div class="col valor">0,00</div>
      </div>
  </div>
  <div class="item item-divider softrow">
    Descontos
  </div>
    <div class="item extratoDoMes">
      
      <div class="row label" >
        <div class="col col-67">EMPRÉSTIMOS</div>
        <div class="col valor">123</div>
      </div> 
      <div class="row label" >
        <div class="col col-67">financeiro imobiliário</div>
        <div class="col valor">0,00</div>
      </div> 
    
      <div class="row label" >
        <div class="col col-67">irrf</div>
        <div class="col valor">0,00</div>
      </div>
    
      <div class="row label" >
        <div class="col col-67">qttd. dependentes irrf</div>
        <div class="col valor">0,00</div>
      </div> 
      <div class="row label" >
        <div class="col col-67">portab. fechada</div>
        <div class="col valor">0,00</div>
      </div>
    
      <hr>

      <div class="row label" >
        <div class="col col-67">SUB-TOTAL<div>
        <div class="col valor">0,00</div>
      </div>
    </div>
  <div class="item item-divider softrow">
    RESGATE LÍQUIDO
    <span>0,00</span>
  </div>

  <div class="list">
    <form class="formCampos">
      <div class="item">
        Atenção:
        <div class="text-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quos necessitatibus unde delectus,
            tenetur quidem natus veniam aspernatur 
            eveniet blanditiis quisquam alias omnis neque quia
            iure sint nulla molestias recusandae repellendus!
          </p>
        </div>
      </div>
    </form>
  </div>

</div>


  </ion-content>
</ion-view>