<ion-view title="Simulação" ng-controller="SimulacaoSaqueProgramadoCtrl" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
     

      <div class="row">
        <div class="col col-100">
           Simulação de Saque Programado
        </div>
      </div>

    </div>

    <div class="item extratoDoMes">
      <div class="row" >
        <div class="col col-67 text upper">Eligibilidade prevista pelo PCVI:</div>
        <div class="col valor">12/2030</div>
      </div>
    </div>

    <div class="sec-title item item-divider softrow">
     
      
      <div class="row">
        <div class="col col-100">
           Premissas sugeridas pelo participante
        </div>
      </div>

    </div>



        <form id="formCampos" class="formCampo" ng-submit="submit(formData)">
          <div class="item">

            <div class="separador">
               <label class="item item-input item-select" name="tipo_idade">
                  <div class="input-label">
                      Busca
                  </div>
                  <select class="ion-input-select">
                   <option value="idade">IDADE</option>
                   <option value="nasc">MES/ANO</option>
                  </select>
              </label>
              <label class="item item-input item-select">
                <div class="input-label">
                    Selecione
                </div>
                <select class="ion-input-select" name="idade" ng-model="formData.idade" >
                   <option value="45">45 ANOS</option>
                </select>
              </label>
            </div>
          </div>

          <div class="item">
             <label class="iteml no-border item item-input item-stacked-label">
                 <!--  <span class="input-label">Antecipação de benefício <small>(0 a 20)</small></span>
                  <input type="tel" name="telefone" placeholder="%" ng-model="formData.telefone"> -->

                  <div class="row">
                    <div class="col">
                      <span class="input-label">Antecipação de benefício <small>(0 a 20)</small></span>
                    </div>
                    <div class="col col-20">
                      <label class="item item-input">
                        <input type="text" ng-model="formData.antecipacao_beneficio"/> 
                      </label>
                    </div>
                    <div class="col col-10">
                      <span class="input-label box ">%</span>
                    </div>
                  </div>

                </label>

                <label class="iteml no-border item item-input item-stacked-label">
                <!--   <span class="input-label">Crescimento real do Salário <br /> <small>(ao ano)</small></span></span>
                  <input type="text" name="email" placeholder="%">  -->

                  <div class="row">
                    <div class="col">
                      <span class="input-label">Crescimento real do Salário <br /> <small>(ao ano)</small></span>
                   </div>
                    <div class="col col-20">
                      <label class="item item-input">
                         <input type="text" name="" ng-model="formData.cresc_real_sal">
                      </label>
                    </div>
                    <div class="col col-10">
                      <span class="input-label box">%</span>
                    </div>
                  </div>

                </label>


                <label class="iteml no-border item item-input item-stacked-label">
                <!--   <span class="input-label">Contribuição do participante</span>
                  <input type="text" name="mensagem" placeholder="%" ng-model="formData.mensagem"> -->
                  
                  <div class="row">
                    <div class="col">
                      <span class="input-label">Contribuição do participante</span>
                    </div>
                    <div class="col col-20">
                      <label class="item item-input">
                         <input type="text" name="contribuicao_participante" ng-model="formData.contribuicao_participante">
                      </label>
                    </div>
                    <div class="col col-10">
                      <span class="input-label box">%</span>
                    </div>
                  </div>

                </label>


                <label class="iteml no-border item item-input item-stacked-label">
                 <!--  <span class="input-label">Estimativa de rentabilidade média anual real</span>
                  <input type="text" name="mensagem" placeholder="%" ng-model="formData.mensagem"> -->
                  
                  <div class="row">
                    <div class="col">
                       <span class="input-label">Estimativa de rentabilidade média anual real</span>
                    </div>
                    <div class="col col-20">
                      <label class="item item-input">
                         <input type="text" name="estimativa_rent_entre" ng-model="formData.estimativa_rent_entre">
                      </label>
                    </div>
                    <div class="col col-10">
                      <span class="input-label box">%</span>
                    </div>
                  </div>

                </label>


                <label class="iteml no-border item item-input item-stacked-label">
                 <!--  <span class="input-label">Dependentes para fins de IR</span>
                  <input type="text" name="mensagem" placeholder="0" ng-model="formData.mensagem"> -->

                  <div class="row">
                    <div class="col ">
                     <span class="input-label">Dependentes para fins de IR</span>
                    </div>
                    <div class="col col-20">
                      <label class="item item-input">
                       <input type="text" name="dependentes_ir" placeholder="0" ng-model="formData.dependentes_ir">
                      </label>
                    </div>
                    <div class="col col-10">
                      <span class="input-label box"></span>
                    </div>
                  </div>

                </label>

                <label class="iteml no-border item item-input item-stacked-label">
                 <!--  <span class="input-label">Aporte financeiro <small>(R$)</small></span>
                  <input type="text" name="mensagem" placeholder="0" ng-model="formData.mensagem"> -->
                  
                  <div class="row">
                    <div class="col">
                       <span class="input-label">Aporte financeiro (R$)</span>
                    </div>
                    <div class="col col-33">
                      <label class="item item-input">
                      <input type="text" name="aporte" placeholder="0" ng-model="formData.aporte"/>
                      </label>
                    </div>

                    <div class="col col-10">

                    </div>  

                  </div>

                </label>
            <label class="abonoselect item item-input item-select">
                  <div class="input-label">
                      Abono Anual?
                  </div>
                  <select class="ion-input-select" ng-model="formData.abono_anual" >
                     <option value="0">NÃO</option>
                  </select>
            </label>


          </div>

          <div class="item footer noborder">

            <div class="the_error">
              <p ng-show="errorMsg" class="errorMsg assertive" ng-bind="errorMsg"></p>
            </div>
            <div class="padding">
              <div class="button-bar">
                <input ng-hide="loading" type="submit" class="button button-positive button-block" value="Calcular Simulação" >      
              </div>
            </div>
          
          </div>

        </form>
    </div>
  </div>

  </ion-content>
</ion-view>