<ion-view title="Simulação" ng-controller="SimulacaoRendaMensalVitaliciaCtrl.beneficiarios" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="" id="mainMenu">

    <div class="top-page">

      <div class="item item-divider softrow">
        <div class="row">
          <div class="col col-100">
            Simulação de Renda Mensal Vitalícia
          </div>
        </div>
        
      </div>
    </div>

    <form id="formCampos" class="formCampo">

      <div id="beneficiarios" ng-repeat="(key, value) in beneficiarios">
        <div class="item softrow item-select bg-destaq">
          <div class="row">
           

            <div class="col col-10">
              <label class="toggle toggle-calm ">
                 <input type="checkbox">
                 <div class="track">
                   <div class="handle"></div>
                 </div>
               </label>
            </div>
            
            <div class="col" ng-click="beneficiarioToggle(key)">
              <span>{{value.beneficiario}}</span>
            </div>

      
          </div>

        </div>

        <div id="content1" class="item" ng-show="beneficiario[key]">
          <div class="row">
            <div class="col">

              <label class="item item-input item-select ">
                  <div class="input-label">
                      Data de nascimento
                  </div>
                  <select class="ion-input-select" ng-model="formData.tipo" ng-options="key as value for (key , value)  in emprestimoSimulacaoCampos.tipo_simulacao">
                   <option value="">{{value.dt_nascimento}}</option>
                </select>
              </label>
              <label class="item item-input item-select">
                <div class="input-label">
                    Vínculo
                </div>
                <select class="ion-input-select" ng-model="formData.tipo" ng-options="key as value for (key , value)  in emprestimoSimulacaoCampos.tipo_simulacao">
                   <option value="">{{value.vinculo}}</option>
                </select>
              </label>
              
               <label class="item item-input item-select">
                  <div class="input-label">
                      Sexo
                  </div>
                  <select class="ion-input-select" ng-model="formData.prazoInicial" ng-options="key as value.prazo for (key,value) in emprestimoSimulacaoCampos.limitesCreditos">
                   <option value="">{{value.sexo}}</option>
                  </select>
              </label>
              <label class="item item-input item-select">
                <div class="input-label">
                    Parentensco
                </div>
                <select class="ion-input-select" ng-model="formData.tipo" ng-options="key as value for (key , value)  in emprestimoSimulacaoCampos.tipo_simulacao">
                   <option value="">{{value.parentesco}}</option>
                </select>
              </label>

              <a class="link-remove" href="">Remover Beneficiário</a>

            </div>
          </div>
        </div>
      </div>



      </div>


       <div class="item">
          <button class="button button-block button-calm icon-right ion-plus" ng-click="addBeneficiario()">
            Adicionar Beneficiário
          </button>

          <div class="button-bar">
            <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Calcular Simulação" ng-click="submit(formData)">      
          </div>
        </div>

          

          <div class="the_error">
            <p ng-show="errorMsg" class="errorMsg assertive" ng-bind="errorMsg"></p>
          </div>
          
        </form>


    </div>
  </div>

  </ion-content>
</ion-view>