<ion-view title="Simulação" ng-controller="SimulacaoRmvAposentadoCtrl.resultado" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
     
      <div class="row">
        <div class="col col-100">
           Resultado da alteração para RMV
        </div>
      </div>

    </div>
    
    <div class="item extratoDoMes">
      <div class="separador">
        <div class="label row" >
          <div class="col text col-80">Saldo de conta total</div>
          <div class="col valor">{{value.saldo_conta_considerado}}</div>
        </div>
      </div>

      <div class="separador">
        <div class="label row" >
          <div class="col col-80">Renda mensal vitalícia - valor bruto</div>
          <div class="col valor">{{value.val_bruto}}</div>
        </div> 
        <div class="label row" >
          <div class="col col-80">valor do imposto de renda (progressivo)</div>
          <div class="col valor">{{value.rmv_ir}}</div>
        </div> 
      </div>

      <div class="separador">
        <div class="label row" >
          <div class="col col-80">Unidade previvdenciária</div>
          <div class="col valor">{{value.un_previdenciaria}}</div>
        </div>
      </div>

      <div class="separador">
        <div class="label row" >
          <div class="col col-80">pagamento integral</div>
          <div class="col valor">{{value.pagt_integral}}</div>
        </div>
        <div class="label row" >
          <div class="col col-80">valor do imposto de renda (progressivo)</div>
          <div class="col valor">{{value.pagt_integral_ir}}</div>
        </div>
      </div>
  </div>

  <div class="beneficiarios-list" ng-show="value.beneficiarios">
    <div class="item item-divider softrow">
     
      <div class="row">
        <div class="col col-100">
          Relação de beneficiários selecionados para pensão
        </div>
      </div>

    </div>

    <div class="list-beneficiarios" ng-show="value.beneficiarios">
      <div class="menu-item item item-divider softrow item-select">

        <div class="row">
          <div class="col col-100">
             FILHO(A)
          </div>
        </div>

      </div>
      <div class="menu-item item item-divider softrow item-select">
       
        <div class="row">
          <div class="col col-100">
             CÔNJUGE
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class="list">
   
    <form class="formCampos">
      <div class="item obs">
        Atenção:
        <div class="text-small no-wrap">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quos necessitatibus unde delectus,
            tenetur quidem natus veniam aspernatur 
            eveniet blanditiis quisquam alias omnis neque quia
            iure sint nulla molestias recusandae repellendus!
          </p>
        </div>
      </div>
    </form>
  </div>  

</div>
</div>


  </ion-content>
</ion-view>