<ion-view title="Simulação" ng-controller="SimulacaoRmvSaqueProgramadoCtrl.resultado" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
      Resultado da simulação de RMV
    </div>
    
    <div class="item extratoDoMes">
      <div class="separador">
        <div class="label row" >
          <div class="col col-67">Saldo de conta considerado</div>
          <div class="col valor">3232656</div>
        </div>
        <div class="label row" >
          <div class="col col-67">Saldo de conta total</div>
          <div class="col valor">456</div>
        </div>
      </div>

      <div class="separador">
        <div class="label row" >
          <div class="col col-67">Renda mensal vitalícia - valor bruto</div>
          <div class="col valor">123</div>
        </div> 
        <div class="label row" >
          <div class="col col-67">valor do imposto de renda (progressivo)</div>
          <div class="col valor">0,00</div>
        </div> 
      </div>

      <div class="separador">
        <div class="label row" >
          <div class="col col-67">Unidade previvdenciária</div>
          <div class="col valor">0,00</div>
        </div>
      </div>

      <div class="separador">
        <div class="label row" >
          <div class="col col-67">Antecipação do benefício</div>
          <div class="col valor">0,00</div>
        </div> 
        <div class="label row" >
          <div class="col col-67">Pagamento integral</div>
          <div class="col valor">0,00</div>
        </div>
      </div>
  </div>

  <div class="item item-divider softrow">
    Resultado da simulação saque programado
  </div>

  <div class="item extratoDoMes">
    <div class="separador">
      <div class="label row" >
        <div class="col col-67">Saldo de conta considerado na data de início do benefício (50%)</div>
        <div class="col valor">3232656</div>
      </div>
      <div class="label row" >
        <div class="col col-67">Saldo de conta total</div>
        <div class="col valor">456</div>
      </div>
    </div>

    <div class="separador">
      <div class="label row" >
        <div class="col col-67">Renda mensal vitalícia - valor bruto</div>
        <div class="col valor">123</div>
      </div> 
    </div>

    <div class="separador">
      <div class="label row" >
        <div class="col col-67">prazo previsto para manutenção de benefício caso o percentual de saque não seja alterado</div>
        <div class="col valor">0,00</div>
      </div>
    </div>

    <div class="separador">
      <div class="label row" >
        <div class="col col-67">parcela resgatada à vista - valor bruto</div>
        <div class="col valor">0,00</div>
      </div>
    </div>

    <div class="label row" >
      <div class="col col-67">última renda mensal não vitalícia em 11/2135</div>
      <div class="col valor">0,00</div>
    </div> 
    <div class="label row" >
      <div class="col col-67">saldo remanescente à ser pago em 12/2135</div>
      <div class="col valor">0,00</div>
    </div>
  </div>

  <div class="item item-divider softrow">
    Resultados consolidado da Simulação
  </div>

  <div class="item extratoDoMes">
    <div class="separador">
      <div class="label row" >
        <div class="col col-67">renda mensal total - valor bruto</div>
        <div class="col valor">0,00</div>
      </div>
      <div class="label row" >
        <div class="col col-67">valor do imposto de renda (progressivo)</div>
        <div class="col valor">0,00</div>
      </div>
    </div>

    <div class="separador">
      <div class="label row" >
        <div class="col col-67">pagamento único total - valor bruto</div>
        <div class="col valor">0,00</div>
      </div>
      <div class="label row" >
        <div class="col col-67">valor do imposto de renda (progressivo)</div>
        <div class="col valor">0,00</div>
      </div>
    </div>

    <div class="separador">
      <div class="label row" >
        <div class="col col-67">pagamento integral</div>
        <div class="col valor">0,00</div>
      </div>
      <div class="label row" >
        <div class="col col-67">valor do imposto de renda (progressivo)</div>
        <div class="col valor">0,00</div>
      </div>
    </div>
  </div>


  <div class="item item-divider softrow">
    Relação de beneficiários selecionados para pensão
  </div>

  <div class="menu-item item item-divider softrow item-select">
    FILHO(A)
  </div>
  <div class="menu-item item item-divider softrow item-select">
    CÔNJUGE
  </div>
  <div class="list">
    <form class="formCampos" class="formCampo">
     <!--  <div class="item">
        
        
        <div class="row">
          <div class="col col-70">
            <span class="input-label">Estimativa de rentabilidade média anual</span>
          </div>
          <div class="col col-20">
            <label class="item item-input">
              <input type="text" name="" ng-model="" /> 
            </label>
          </div>
          <div class="col col-10">
            <span class="input-label box ">%</span>
          </div>
        </div>
      </div> -->
       
        <div class="box-calculo">
            
            <div class="item">
              
              <div class="row">
                <div class="col col-70">
                  <span class="input-label">Estimativa de rentabilidade média anual</span>
                </div>
                <div class="col col-20">
                  <label class="item item-input">
                    <input type="text" name=""  /> 
                  </label>
                </div>
                <div class="col col-10">
                  <span class="input-label box ">%</span>
                </div>
              </div>


              <div class="row">
                <div class="col col-70">
                  <span class="input-label">Estimativa de rentabilidade média anual</span>
                </div>
                <div class="col col-20">
                  <label class="item item-input">
                    <input type="text" name=""  /> 
                  </label>
                </div>
                <div class="col col-10">
                  <span class="input-label box ">%</span>
                </div>
              </div>
            </div>
            
            <div class="row">
              <div class="col col-100">
                <div class="button-bar">
                  <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Recalcular Simulação">      
                </div>
              </div>
            </div>

        </div>
       
  
      

      <div class="item obs">

        Atenção:
        <div class="text-small no-wrap">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit.
            Quos necessitatibus unde delectus,
            tenetur quidem natus veniam aspernatur 
            eveniet blanditiis quisquam alias omnis neque quia
            iure sint nulla molestias recusandae repellendus!
          </p>
        </div>
      </div>
    </form>
  </div>

</div>


  </ion-content>
</ion-view>