<ion-view title="Simulação" ng-controller="SimulacaoRmvSaqueProgramadoCtrl" has-bouncing="false" padding="false" >
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">        
    <div class="item item-divider softrow">
     
      <div class="row">
        <div class="col col-100">
           Simulação de RMV e Saque Programado
        </div>
      </div>

    </div>

    <div class="item extratoDoMes">
      <div class="row" >
        <div class="col col-67 text upper">Eligibilidade prevista pelo PCVI:</div>
        <div class="col valor">12/2030</div>
      </div>
    </div>
    <div class="sec-title item item-divider softrow">
      
      <div class="row">
        <div class="col col-100">
          Premissas sugeridas pelo participante
        </div>
      </div>

    </div>

        <form id="formCampos" class="formCampo">
          <div class="item">

            <div class="select-box">
                    <div class="row">
                      <div class="col col-100">
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Busca
                            </div>
                            <select class="ion-input-select">
                             <option value="">IDADE</option>
                             <option value="">NASCIMENTO</option>
                            </select>
                        </label>
                        <label class="item item-input item-select">
                          <div class="input-label">
                              Selecione
                          </div>
                          <select class="ion-input-select" ng-model="formData.idade" >
                             <option value="">45 ANOS</option>
                          </select>
                        </label>
                        </div>
                      </div>
                  </div>
                
                  <div class="select-box">
                    <div class="row">
                      <div class="col col-100">

                        <label class="item item-input item-select">
                            <div class="input-label lower">
                                Tipo de reajuste
                            </div>
                            <select class="ion-input-select" ng-model="formData.tipo_reajuste">
                             <option value="">RENTABILIDADE</option>
                            </select>
                        </label>
              
                        <label class="item item-input item-select">
                          <div class="input-label lower">
                              Com pensão?
                          </div>
                          <select class="ion-input-select" ng-model="formData.pensao">
                             <option value="">NÃO</option>
                          </select>
                        </label>

                      </div>
                    </div>

                  </div>

          <label class="no-border item item-input item-stacked-label">
            <div class="row">
              <div class="col col-75">
                <span class="input-label">Antecipação de benefício <small>(0 a 20)</small></span>
              </div>
              <div class="col col-20">
                <label class="item item-input">
                  <input type="text" name="antecipacao_beneficiocresc_real_sal" ng-model="formData.antecipacao_beneficiocresc_real_sal" /> 
                </label>
              </div>
              <div class="col col-5">
                <span class="input-label box ">%</span>
              </div>
            </div>

          </label>

          <label class="no-border item item-input item-stacked-label">
          <!--   <span class="input-label">Crescimento real do Salário <br /> <small>(ao ano)</small></span></span>
            <input type="text" name="email" placeholder="%" ng-model="formData.email">  -->

            <div class="row">
              <div class="col col-75">
                <span class="input-label">Crescimento real do Salário <br /> <small>(ao ano)</small></span>
             </div>
              <div class="col col-20">
                <label class="item item-input">
                   <input type="text" name="cresc_real_sal" ng-model="formData.cresc_real_sal">
                </label>
              </div>
              <div class="col col-5">
                <span class="input-label box">%</span>
              </div>
            </div>

          </label>


          <label class="no-border item item-input item-stacked-label">
          <!--   <span class="input-label">Contribuição do participante</span>
            <input type="text" name="mensagem" placeholder="%" ng-model="formData.mensagem"> -->
            
            <div class="row">
              <div class="col col-75">
                <span class="input-label">Contribuição do participante</span>
              </div>
              <div class="col col-20">
                <label class="item item-input">
                   <input type="text" name="contribuicao_participante" ng-model="formData.contribuicao_participante">
                </label>
              </div>
              <div class="col col-5">
                <span class="input-label box">%</span>
              </div>
            </div>

          </label>


          <label class="no-border item item-input item-stacked-label">
           <!--  <span class="input-label">Estimativa de rentabilidade média anual real</span>
            <input type="text" name="mensagem" placeholder="%" ng-model="formData.mensagem"> -->
            
            <div class="row">
              <div class="col col-75">
                 <span class="input-label">Estimativa de rentabilidade média anual real</span>
              </div>
              <div class="col col-20">
                <label class="item item-input">
                   <input type="text" name="estimativa_rent_entre" ng-model="formData.estimativa_rent_entre">
                </label>
              </div>
              <div class="col col-5">
                <span class="input-label box">%</span>
              </div>
            </div>

          </label>


          <label class="no-border item item-input item-stacked-label">
           <!--  <span class="input-label">Dependentes para fins de IR</span>
            <input type="text" name="mensagem" placeholder="0,00" ng-model="formData.mensagem"> -->

            <div class="row">
              <div class="col col-75">
               <span class="input-label">Dependentes para fins de IR</span>
              </div>
              <div class="col col-20">
                <label class="item item-input">
                 <input type="text" name="dependentes_ir" placeholder="0,00" ng-model="formData.dependentes_ir">
                </label>
              </div>
              <div class="col col-5">
                <span class="input-label box"></span>
              </div>
            </div>

          </label>

          <label class="no-border item item-input item-stacked-label">
           <!--  <span class="input-label">Aporte financeiro <small>(R$)</small></span>
            <input type="text" name="mensagem" placeholder="0,00" ng-model="formData.mensagem"> -->
            
            <div class="row">
              <div class="col col-70">
                 <span class="input-label">Aporte financeiro (R$)</span>
              </div>
              <div class="col col-30">
                <label class="item item-input">
                <input type="text" name="aporte" placeholder="0,00" ng-model="formData.aporte">
                </label>
              </div>
<!--               <div class="col col-10">
                <span class="input-label box"></span>
              </div> -->
            </div>

          </label>
      
          </div>

          <div class="sec-title item item-divider softrow">
           
            <div class="row">
              <div class="col col-100">
                Escolha os percentuais de distribuição de saldo
              </div>
            </div>
          </div>

            <div class="item">
             <label class="no-border item item-input item-stacked-label">
               <!--  <span class="input-label">Dependentes para fins de IR</span>
                <input type="text" name="mensagem" placeholder="0,00" ng-model="formData.mensagem"> -->

                <div class="row">
                  <div class="col col-75">
                   <span class="input-label">Saque programado</span>
                  </div>
                  <div class="col col-20">
                    <label class="item item-input">
                     <input type="text" name="mensagem" placeholder="0,00" ng-model="formData.mensagem">
                    </label>
                  </div>
                  <div class="col col-5">
                    <span class="input-label box">%</span>
                  </div>
                </div>
              </label>
              <label class="no-border item item-input item-stacked-label">
                 <div class="row">
                  <div class="col col-75">
                   <span class="input-label">Renda mensal vitalícia</span>
                  </div>
                  <div class="col col-20">
                    <label class="item item-input">
                     <input type="text" name="renda_mensal" placeholder="0,00" ng-model="formData.renda_mensal">
                    </label>
                  </div>
                  <div class="col col-5">
                    <span class="input-label box">%</span>
                  </div>
                </div>

              </label>
            </div>

          <div class="sec-title item item-divider softrow">
            
            <div class="row">
              <div class="col col-100">
                Premissas específicas de saque programado
              </div>
            </div>
          </div>
          
          <div class="item-section">

            <div class="item">
              <label class="no-border item item-input item-stacked-label">
                 <div class="row">
                  <div class="col col-75">
                   <span class="input-label">Renda mensal</span><p>Em percentual do saldo do dia</p>
                  </div>
                  <div class="col col-20">
                    <label class="item item-input">
                     <input type="text" name="mensagem" placeholder="0,00" ng-model="formData.mensagem" />
                    </label>
                    <p>(0,3 a 2,0)</p>
                  </div>
                  <div class="col col-5">
                    <span class="input-label box">%</span>
                  </div>
                </div>

              </label>
              
              <label class="no-border item item-input item-stacked-label">
                 <div class="row">
                  <div class="col col-75">
                   <span class="input-label">Estimativa de rentabilidade</span><p>Média anual real após o início do benefício</p>
                  </div>
                  <div class="col col-20">
                    <label class="item item-input">
                     <input type="text" name="estimativa_rent_apos" placeholder="0,00" ng-model="formData.estimativa_rent_apos">
                    </label>
                  </div>
                  <div class="col col-5">
                    <span class="input-label box">%</span>
                  </div>
                </div>

              </label>

              <label class="abonoselect item item-input item-select">
                <div class="input-label">
                    Abono Anual?
                </div>
                <select class="ion-input-select" ng-model="formData.abono" >
                   <option value="0">NÃO</option>
                   <option value="1">SIM</option>
                </select>
              </label>
            </div>

          </div>
          
          <div class="item footer noborder">

            <div class="the_error">
              <p ng-show="errorMsg" class="errorMsg assertive" ng-bind="errorMsg"></p>
            </div>
            <div class="padding">
              <div class="button-bar">
                <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitExtrato" value="Calcular Simulação" ng-click="submit(formData)">      
              </div>
            </div>

          </div>


        </form>
    </div>
  </div>

  </ion-content>
</ion-view>