<ion-view title="Documentos de Concessão" ng-controller="DocConcessaoAviso">
    <ion-content class="has-header" has-bouncing="false" padding="false"
                 id="docConcessaoAvisoView">
        <div class="headerInfo">
            <div ng-include="'js/directives/userInfo.html'"></div>
        </div>

        <div class="list">
            <div class="item item-divider softrow no-border">
                Aviso - Documentos de concessão
            </div>
            <section class="item no-border" id="docConcessaoAviso">
                <h4 class="title emprestimoInfo">{{docConcessao.tituloPaginaCttDps}}</h4>

                <div class="item no-border textoPrincipal">
                    <p class="reset-white-space">
                        {{docConcessao.textoPaginaCttDps}}
                    </p>

                    <form>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Deseja Contratar?
                            </div>
                            <select class="ion-input-select" id="docConcessaoAvisoSelect">
                                <option value="N" selected>NÃO</option>
                                <option value="S">SIM</option>
                            </select>
                        </label>

                        <div class="the_error">
                            <p ng-show="errorMsg" class="errorMsg assertive" ng-bind-html="errorMsg"></p>
                        </div>

                        <div class="button-bar" padding="true">
                            <input type="submit" ng-hide="loading"
                                   class="button button-positive button-block ng-pristine ng-untouched ng-valid"
                                   ng-click="submit()"
                                   value="Confirmar Envio">
                            <div ng-show="loading"
                                 class="button button-positive button-block ng-hide"
                                 id="loading" style="">
                                <ion-spinner icon="android" class="spinner spinner-android">
                                    <svg viewBox="0 0 64 64">
                                        <g transform="rotate(24.6,32,32)">
                                            <circle stroke-width="6"
                                                    stroke-dasharray="128.99384356121985"
                                                    stroke-dashoffset="0" r="26" cx="32"
                                                    cy="32" fill="none"
                                                    transform="scale(1,1) translate(0,0) rotate(0,32,32)"></circle>
                                        </g>
                                    </svg>
                                </ion-spinner>
                            </div>
                        </div>
                    </form>
                </div>
            </section>
        </div>
    </ion-content>
</ion-view>
