<ion-view title="Fale Conosco" hide-back-button="false">
 <ion-content class="has-header">
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list dadosInfo" id="mainMenu" ng-controller="DadosCtrl">        
    <div class="item item-divider softrow">
      Por E-mail
    </div>
    
    <div class="item">
      <a class="button button-outline button-block icon-right ion-chevron-right ng-cloak" href="#/contato-form" id="btn-editar" style="border:solid 1px #e0e0e0"><i class="icon ion-ios-email-outline" style="margin-right: .7em; margin-top:-1px;"></i> Envie uma mensagem &nbsp;</a>
    </div>
    <div class="item item-divider softrow">
      Por Telefone
    </div>
    
    <div class="item">
    	<p>Para a cidade do Rio de Janeiro</p>
      <a class="button button-outline button-block icon-right ng-cloak" ng-href="tel:21-2121-6900" id="btn-editar" style="border:solid 1px #e0e0e0"><i class="icon ion-ios-telephone" style="margin-right: .7em; margin-top:-1px;"></i> (21) 2121-6900 &nbsp;</a>
    	<p>Outras regiões</p>
      <a class="button button-outline button-block icon-right ng-cloak" ng-href="tel:0800-970-6900" id="btn-editar" style="border:solid 1px #e0e0e0"><i class="icon ion-ios-telephone" style="margin-right: .7em; margin-top:-1px;"></i> 0800 970-6900 &nbsp;</a>
    </div>

    <div class="item item-divider softrow">
      Pessoalmente
    </div>
    
    <div class="item">
    	<p>O atendimento presencial é feito na cidade do Rio de Janeiro na sede da TELOS.<br /><br /></p>
    	<h4>ENDEREÇO</h4>
    	<p>Avenida Presidente Vargas, 290 - 9 andar<br />
    	Centro - Rio de Janeiro, RJ.</p>
    </div>
    
    
    <div class="item item-divider softrow">
      Outros Meios de Contato
    </div>
    
    <div class="item">
    	<p>Você também pode entrar em contato com a TELOS através de carta ou Fax. Confira o endereço e o número do Fax.<br /><br /></p>
    	<p>Em atenção ao exposto na Resolução MPS/CGPC n 23, de dezembro de 2006, os participantes que necessitarem obter esclarecimentos de situações de interesse particular específico deverão encaminha requerimento, através de carta ou email dirigido à Gerência de Relacionamento da TELOS - Av. Presidente Vargas 290, 9 andar - CEP 20.091-060 - Rio de Janeiro, RJ - contendo nome completo e matrícula.<br /><br /></p>

    	<h4>CNPJ</h4>
    	<p>42.465.310/0001-21<br /><br /></p>

    	<h4>Fax</h4>
    	<p>Participantes Ativos: (RIT) 521-6887<br />
    	Demais Participantes: (21) 2121-6887<br />
    	<br /></p>
    	<h4>Endereço E-mail</h4>
    	<p><a href="mailto:cat@telos.org.br">cat@telos.org.br</a><br /><Br /></p>
    </div>
    
   </div>
  </ion-content>
</ion-view>