body.responsive{
	min-width:0;
	width:100%;

	#rodape{
		min-width: 0;
	}

	#conteudo{
		&::after {
		    display: block;
		    content: "";
		    clear: both;
		}
	}


		
	@media(max-width:767px){
		
		box-shadow:none;

		.container{
			padding-left:15px;
			padding-right: 15px;
		}
		
		#conteudo{
			width: 100%;
    		overflow: hidden;
			padding-left: 0 !important;

			#left-column{

				float: right;
	
				.menu-title{

					span {
						float: left;
					}

				} 

				#menuDiv{
					background: #fff;
					padding-bottom:0;
					width: 245px;
					position: fixed;
				    z-index: 1050;
				    top: 0;
				    height: 100%;

				    .menu-title{
				    	background: #1F4F8D;
				    	padding: 19px 15px;
				    	color: #fff !important;
				    	position:fixed;
				    	width: 100%;
				    	span{
				    		margin-right: 20px;
				    		margin-left:200px;
				    	}
				    }

				    #menuList{
				    	box-shadow: -5px 0px 10px rgba(0,0,0, 0.1);
				    	height: 100%;
				    	overflow: auto;
				    }

					a#M00000Actuator{
						margin-top: 60px;
					
					}

				    ul{
				    	list-style:none;

				    	li{
				    		ul{
				    			li{
				    				a.active{
				    					    background-color: #e2e2e2;
    										color: #5f5f5f !important;
				    				}
				    			}
				    		}
				    	}


				    	li.logout{
							    padding: 5px 15px;
							    background: #f0f0f0;
							    p{
							    	margin:0;
							    }
				    		a{
				    			padding: 0 !important;
							    width: auto;
							    display: inline-block;
							    background:none;
							    border: 0;
				    		}

				    	}
				    }
				}
			}

		}

		#conteudo.menu-collapsed {
		    padding-left: 0;
		    margin-right: -200px;
		    // padding-right:43px;

		    #menuDiv{
		    	width: 50px !important;
			    overflow: hidden;
			    right: 0;
			    height: auto !important;
			    position:absolute !important;

			    #menuList{
			    	height: auto !important;
				    .menu-title{
				    	position: static;
				    	    padding: 19.4px 5px;
				    	span{
				    		margin-top: -30px;
						    background: #1f4f8d;
						    padding: 15px 12px;
						    margin-left: 0;
				    	}
				    }
			    }


		    }
		}


		.header-modernidade{
			height: 60px;

			.logo-div{
				width:145px !important;
				height: auto !important;
				margin:6.3px 0;
			}

			.inner{
				h1{
					margin-top: 25px;
					font-size: 12px;
					margin-left: 0;
				}
				p{
					margin-top: 23px;
					display: none;
				}
			} 
		}

		#rodape{
			// position:relative;
			height: 85px;
			p{
				float: none;
			}
		}

	}

	@media(max-width:468px){


	    #menuList{
	    	box-shadow: -222px 0px 0px rgba(0,0,0, 0.4) !important;
	    }
	}

	@media(max-width:991px){

	}

}

body.responsive.login-page{
	box-shadow: none;

	#conteudo{
		padding-left:0;
	}
}