body
{
	background-color: #1F56A7;
	font-family: 'Lato', helvetica, arial, sans-serif;
}

body .background-full
{
	background-image: url(../img/bg-hi.jpg);
	background-size: cover;
	background-position: center center;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: -1;
}

body .header p
{
    color: #fff;
    font-weight: 300;
    font-size: 16px;
    padding-top: 40px;
    margin: 0;
    font-weight: 100;
}

body .header p a
{
    color: #fff;
}

body .modulos .container
{
	margin-top: 10px;
    max-width: 1100px;
}

body .modulos .modulos-box
{
    padding: 50px 70px;
	border-radius: 1px;
	margin-top: 50px;
	margin-bottom: 50px;
    background-color: #fff;
    min-height: 900px;
}

body .modulos .modulos-box .logo
{
	margin: 0;
	background-image: url(../img/logo-color.png);
	text-indent: -999%;
	background-size: 100%;
    height: 50px;
    width: 210px;
	margin-bottom: 30px;
}

body .modulos .modulos-box h3
{
    margin: 0;
    font-weight: 300;
}

body .modulos .modulos-box h3 strong
{
    font-weight: 400;
}

body .modulos .modulos-box h6
{
    margin-top: -16px;
    font-size: 13px;
}


body .modulos .modulos-box .menu-modulos
{
    margin-top: 60px;
    padding: 0;
    list-style-type: none;
    display: inline-block;
}

body .modulos .modulos-box .menu-modulos li
{
    margin-bottom: 7px;
    position: relative;
    font-size: 15px;
}

body .modulos .modulos-box .menu-modulos li:first-child
{
    color: #337ab7;
    border-bottom: 1px solid #dadada;
    padding-bottom: 13px;
}

body .modulos .modulos-box .menu-modulos li:nth-child(2)
{
    margin-top: 13px;
}
    
body .modulos .modulos-box .menu-modulos li a
{
    text-decoration: none;
}

body .modulos .modulos-box .sub-menu
{
    padding: 0;
    border-radius: 7px;
    list-style-type: none;
    margin-top: 55px;
}

body .modulos .modulos-box .sub-menu .col-sm-2
{
    width: 20%;
}

body .modulos .modulos-box .sub-menu li
{
    margin: 0;
    text-align: center;
    padding: 22px;
    border: 1px solid #fff;
    height: 180px;
    list-style-type: none;
}

body .modulos .modulos-box .sub-menu li p
{
    line-height: 1.1em;
    color: #555;
    font-size: 15px;
    margin-top: 13px;
    font-weight: 300;
}

body .modulos .modulos-box .sub-menu li a
{
    font-size: 13px;
    text-decoration: none;
}

body .modulos .modulos-box .sub-menu li:hover, body .modulos .modulos-box .sub-menu li:active
{
    background-color: #f6f6f6;
    border-color: #dadada;
}

body .modulos .modulos-box .sub-menu li .box-button
{
    padding: 20px 22px;
    border: 1px solid #dadada;
    box-shadow: 0px 2px 8px -3px rgba(50, 50, 50, 0.5);
    margin: auto;
    display: block;
    background-image: linear-gradient(to bottom, #fff, #ececec);
    border-radius: 10px;
    margin-bottom: 8px;
}

body .modulos .modulos-box .sub-menu li.disabled .box-button
{
    background-color: #fafafa;
    box-shadow: none;
    background-image: none;
    border-color: #ebebeb;
    cursor: default;
}

body .modulos .modulos-box .sub-menu li.disabled a
{
    cursor: default;
}

body .modulos .modulos-box .sub-menu li.disabled
{
    background-color: #fff;
    border-color: #fff;
}

body .modulos .modulos-box .sub-menu li.disabled p
{
    color: #ccc;
}

body .modulos .modulos-box .sub-menu li .box-button span
{
    font-size: 32px;
    color: #444;
}

body .modulos .modulos-box li .sub-menu li .box-button span
{
    font-size: 20px;
    color: #444;
}

body .modulos .footer .menu-footer
{
    display: inline-block;
    padding: 0;
    list-style-type: none;
}

body .modulos .footer .menu-footer li
{
    display: inline-block;
    margin-right: 20px;
    font-size: 15px;
}

body .modulos .footer .menu-footer li a:link, body .modulos .footer .menu-footer li a:visited
{
    color: #fff;
    text-decoration: underline;
    font-weight: 100;
}

body .modulos .footer .menu-footer li a:hover, body .modulos .footer .menu-footer li a:active
{
    color: #ddd;
}

body .modulos .footer p
{
    color: #fff;
    font-weight: 100;
}

@media (max-height: 700px)
{
    body .modulos .container 
    {
        margin-top: 5px;
    }
}

/*body .modulos .alert
{
	border-radius: 2px;
    color: #FF625F;
    background-color: #FFDBDB;
    border-color: #FFDBDB;
}*/