<ion-view title="Simulação" ng-controller="SimulacaoRendaMensalVitaliciaCtrl.resultado" has-bouncing="false" padding="false" >

<!-- <ion-view title="Simulação" has-bouncing="false" padding="false" > -->
 <ion-content id="emprestimo" class="has-header" has-bouncing="false" padding="false" >
    <div class="headerInfo" >
        <div ng-include="'js/directives/userInfo.html'"></div> 
    </div>

  <div class="list" id="mainMenu">   
    
    <div class="top-page">

      <div class="item item-divider softrow">
        <div class="row">
          <div class="col col-100">
            Resultado da simulação de benefícios
          </div>
        </div>
      </div>
      
      <div class="item extratoDoMes">
        
        <div class="row">
          <div class="col col-100">

            <div class="separador">
              <div class="label row" >
                <div class="col text col-67">Saldo de conta considerado</div>
                <div class="col valor">{{value.saldo_conta_considerado}}</div>
              </div>
              <div class="label row" >
                <div class="col text col-67">Saldo de conta total</div>
                <div class="col valor">{{value.saldo_conta_total}}</div>
              </div>
            </div>

            <div class="separador">
              <div class="label row" >
                <div class="col text col-67">Renda mensal vitalícia - valor bruto</div>
                <div class="col valor">{{value.rmv_val_bruto}}</div>
              </div> 
              <div class="label row" >
                <div class="col text col-67">Valor do imposto de renda ({{value.desc_opcao_tributacao}})</div>
                <div class="col valor">{{value.rmv_ir}}</div>
              </div> 
            </div>

            <div class="separador">
              <div class="label row" >
                <div class="col text col-67">Unidade previvdenciária</div>
                <div class="col valor">{{value.un_previdenciaria}}</div>
              </div>
            </div>

            <div class="separador">
              <div class="label row" >
                <div class="col text col-67">Antecipação do benefício</div>
                <div class="col valor">{{value.antecipacao_beneficio}}</div>
              </div> 
              <div class="label row" >
                <div class="col text col-67">Valor do imposto de renda ({{value.desc_opcao_tributacao}})</div>
                <div class="col valor">{{value.antecipacao_beneficio_ir}}</div>
              </div>
            </div>

            <div class="separador">
              <div class="label row" >
                <div class="col text col-67">Pagamento integral</div>
                <div class="col valor">{{value.pagt_integral}}</div>
              </div>
              <div class="label row" >
                <div class="col text col-67">Valor do imposto de renda ({{value.desc_opcao_tributacao}})</div>
                <div class="col valor">{{value.pagt_integral_ir}}</div>
              </div>
            </div>

          </div>
        </div>

    </div>
  </div>

  <div class="beneficiarios-list" ng-show="value.beneficiarios">
    <div class="item item-divider softrow">
      <div class="row">
        <div class="col col-100">
          Relação de beneficiários selecionados para pensão
        </div>
      </div>
    </div>

    <div class="menu-item item item-divider softrow item-select" id="filho" ng-click="toggleChild()">
      <div class="row">
        <div class="col col-100">
          FILHO(A)
        </div>
      </div>
    </div>
    
    <div class="child-dropdown" data-toggle="filho" ng-show="showChild">
       <div class="extratoDoMes item">
          <div class="label row">
              <div class="col col-67 text">
                  Data de nascimento
              </div>
              <div class="col valor">
               DD/MM/AAAA
              </div>
          </div>
          <div class="label row">
            <div class="col col-67 text">
              Vínculo
            </div>
            <div class="col valor">
              Vitalício
            </div>
          </div>
          <div class="label row">
           <div class="col col-67 text">
              Sexo
            </div>
            <div class="col valor">
              MASCULINO
            </div>
          </div>
          <div class="label row">
            <div class="col col-67 text">
              Parentensco
            </div>
            <div class="col valor">
               FILHO(A)
            </div>
          </div>
        </div>
    </div>

    <div class="menu-item item item-divider softrow item-select" ng-click="toggleChildC()">
      <div class="row">
        <div class="col col-100">
          CÔNJUGE
        </div>
      </div>
    </div>

    <div class="child-dropdown" ng-show="showChildC">
       <div class="extratoDoMes item">
          <div class="label row">
              <div class="col col-67 text">
                  Data de nascimento
              </div>
              <div class="col valor">
               DD/MM/AAAA
              </div>
          </div>
          <div class="label row">
            <div class="col col-67 text">
              Vínculo
            </div>
            <div class="col valor">
              Vitalício
            </div>
          </div>
          <div class="label row">
           <div class="col col-67 text">
              Sexo
            </div>
            <div class="col valor">
              MASCULINO
            </div>
          </div>
          <div class="label row">
            <div class="col col-67 text">
              Parentensco
            </div>
            <div class="col valor">
               FILHO(A)
            </div>
          </div>
        </div>
    </div>
  </div>
  <div class="list">
   
    <form class="formCampos">
      


          <div class="item obs">
            Atenção:
            <div class="text-small no-wrap">
              <p>
                {{value.texto_simulacao_renda_mensal_vitalicia}}
              </p>
            </div>
          </div>
        


    </form>
  </div>  

</div>
</div>


  </ion-content>
</ion-view>