<div class="row">
  <div class="col-sm-4 form-group required">
    <label class="label-control">Identidade</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4 form-group">
    <label class="label-control">Orgão</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4 form-group">
    <label class="label-control">Data espedição</label>
    <input type="text" class="form-control datepicker">
  </div>
</div>
<div class="row">
  <div class="col-sm-4 required form-group">
    <label class="label-control">CPF Nº</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4 form-group">
    <label class="label-control">Inscrição no PIS/C.I</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4 form-group">
    <label class="label-control">Data de Cadastramento</label>
    <input type="text" class="form-control datepicker">
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label class="label-control">CTPS Nº</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-3">
    <label class="label-control">Série</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Orgão</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">UF</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-6">
    <label class="label-control">Certificado de Reserva Nº</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Série</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">UF</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-3">
    <label class="label-control">Categoria</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Data de Expedição</label>
    <input type="text" class="form-control datepicker">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Orgão Emissor</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-6">
    <label class="label-control">Título Eleitoral Nº</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Zona</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Seção</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">UF</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label class="label-control">Cart. Habilitação Nº</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Validade</label>
    <input type="text" class="form-control datepicker">
  </div>
  <div class="col-sm-4">
    <label class="label-control">UF</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label class="label-control">Raça</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
  <div class="col-sm-4">
    <label class="label-control">Número Conselho Regional</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Orgão</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">UF</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-15">
    <fieldset>
      <legend>Dados Estrangeiros</legend>
      <div class="row form-group">
        <div class="col-sm-8">
          <label class="label-control">Cart. Estrangeiro Nº</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-8">
          <label class="label-control">Série</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-8">
          <label class="label-control">Data de Expedição</label>
          <input type="text" class="form-control datepicker">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <label class="label-control">Tipo de Visto</label>
          <select class="form-control chosen">
            <option value="" selected="selected">[Selecione...]</option>
          </select>
        </div>
        <div class="col-sm-8">
          <label class="label-control">Validade da Carteira</label>
          <input type="text" class="form-control datepicker">
        </div>
        <div class="col-sm-8">
          <label class="label-control">Data de Chegada ao Brasil</label>
          <input type="text" class="form-control datepicker">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="" value="">Naturalizado
            </label>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="" value="">Casado(a) com Brasileiro(a)
            </label>
          </div>
        </div>
        <div class="col-sm-9">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="" value="">Filhos Brasileiros
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>