<div class="row form-group">
  <div class="col-sm-4">
    <label for="" class="label-control">Nº de Ordem</label>
    <input type="text" name="" maxlength="45" size="50" value="" class="form-control" title="">
  </div>
  <div class="col-sm-10">
    <div class="checkbox">
      <br>
      <label>
        <input type="checkbox" name="" value="">
        Receber Correspondência
      </label>
    </div>
  </div>
</div>
<div class="row form-group required">
  <div class="col-sm-4">
    <label for="" class="label-control">Data de Nascimento</label>
    <input type="text" class="form-control datepicker">
  </div>
  <div class="col-sm-4">
    <label for="" class="label-control required">Sexo</label>
    <select class="form-control chosen">
        <option value="" selected="selected">[Selecione...]</option>
        <option value="">Masculino</option>
        <option value="">Feminino</option>
      </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label for="" class="label-control">Natural de UF</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
  <div class="col-sm-8">
    <label for="" class="label-control">Cidade</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label for="" class="label-control">Nacionalidade</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-12">
    <label for="" class="label-control">Nome de Pai</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-12">
    <label for="" class="label-control">Nome de Mãe</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row form-group required">
  <div class="col-sm-14">
    <label class="label-control">Endereço</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Número</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-8 form-group">
    <label class="label-control">Complemento</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-8 form-group required">
    <label class="label-control">Bairro</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row form-group required">
  <div class="col-sm-8">
    <label class="label-control">Cidade</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">CEP</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">UF</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-6">
    <label class="label-control">Telefone</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Tipo Sanguíneo</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
  <div class="col-sm-4">
    <label class="label-control">Estado Civil</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-8">
    <label class="label-control">E-mail</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-8">
    <label class="label-control">End. Intranet</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row">
  <div class="col-sm-20">
    <fieldset>
      <div class="row">
        <div class="col-sm-7 form-group required">
          <label class="label-control">Grau de Instrução</label>
          <select class="form-control chosen">
            <option value="" selected="selected">[Selecione...]</option>
          </select>
        </div>
      </div>
      <div class="row form-group required">
        <div class="col-sm-8">
          <label class="label-control">Estab. de Ensino</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-6">
          <label class="label-control">UF</label>
          <select class="form-control chosen">
            <option value="" selected="selected">[Selecione...]</option>
          </select>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-7 form-group required">
          <label class="label-control">Início</label>
          <input type="text" class="form-control datepicker">
        </div>
        <div class="col-sm-7 form-group">
          <label class="label-control">Conclusão</label>
          <input type="text" class="form-control datepicker">
        </div>
        <div class="col-sm-10 form-group">
          <label class="label-control">Formação</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </fieldset>
  </div>
</div>