<div class="row">
  <div class="col-sm-18">
    <fieldset class="form-group">
      <div class="row">
        <div class="col-sm-6 form-group required">
          <label class="label-control">Data de Admissão</label>
          <input type="text" class="form-control datepicker">
        </div>
        <div class="col-sm-7 form-group required">
          <label class="label-control">Contrato</label>
          <select class="form-control chosen">
            <option value="" selected="selected">[Selecione...]</option>
          </select>
        </div>
        <div class="col-sm-6 form-group">
          <label class="label-control">Data de Término</label>
          <input type="text" class="form-control datepicker">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <label class="label-control">Data Opção FGTS</label>
          <input type="text" class="form-control datepicker">
        </div>
        <div class="col-sm-7">
          <div class="checkbox">
            <label><br>
              <input type="checkbox" name="" value=""> Desconta I.R.F
            </label>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="checkbox">
            <label><br>
              <input type="checkbox" name="" value=""> Desconta Vale Transporte
            </label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="" value=""> Convênio INSS
            </label>
          </div>
        </div>
        <div class="col-sm-7">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="" value=""> Desconta Alimentação
            </label>
          </div>
        </div>
        <div class="col-sm-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="" value="">Desconto Seguro de Vida
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label class="label-control">Dep. FGTS</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label class="label-control">Banco</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
  <div class="col-sm-4">
    <label class="label-control">Agência</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Dígito Verificador</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Número da Conta</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <label class="label-control">Dígito Verificador</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label class="label-control">Tipo de Conta</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label class="label-control">Categoria Trabalhador</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-6">
    <label class="label-control">Cód. Trab. Caixa</label>
    <input type="text" class="form-control">
  </div>
  <div class="col-sm-4">
    <div class="checkbox">
      <label><br>
        <input type="checkbox" name="" value=""> CIPA
      </label>
    </div>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label class="label-control">Deficiência</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-4">
    <label class="label-control">Tipo de Admissão</label>
    <select class="form-control chosen">
      <option value="" selected="selected">[Selecione...]</option>
    </select>
  </div>
  <div class="col-sm-6">
    <label class="label-control">Número do Cartão Vale Transporte</label>
    <input type="text" class="form-control">
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-12">
    <fieldset>
      <legend>Horários</legend>
      <div class="row form-group">
        <div class="col-sm-8">
          <label class="label-control">Hora de Entrada</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-8">
          <label class="label-control">Saída</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-8">
          <label class="label-control">Início Intervalo</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-8">
          <label class="label-control">Término</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-24">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="" value="">Recebe horas extras - Descanso obrigatório: Sáb. e Dom.
            </label>
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <div class="col-sm-8">
    <fieldset>
      <legend>Contribuições</legend>
      <div class="row form-group">
        <div class="col-sm-24">
          <div class="checkbox">
            <label>
              <input type="checkbox" name="" value="">Desconta Contribuição Sindical
            </label>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-24">
          <label class="label-control">Nome do Sindicato</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-24">
          <label class="label-control">CNPJ do Sindicato</label>
          <input type="text" class="form-control">
        </div>
      </div>
    </fieldset>
  </div>
</div>