<h3>Detalhe - Situações</h3>
<div class="row">
    <div class="col-sm-4 form-group required">
      <label>Data de Início</label>
      <input type="text" maxlength="10" size="11" value="" class="form-control datepicker">
    </div>
    <div class="col-sm-4 form-group required">
      <label>Data de Fim</label>
      <input type="text" maxlength="10" size="11" value="" class="form-control datepicker">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 form-group required">
      <label>Nova Situação</label>
      <select class="form-control chosen">
        <option value="" selected="selected">[Selecione...]</option>
      </select>
    </div>
</div>
<div class="row">
    <div class="col-sm-12 form-group required">
      <label>Documento Decisório</label>
      <input type="text" maxlength="10" size="11" value="" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-sm-6 form-group required">
      <label>Valor do Benefício</label>
      <input type="text" maxlength="10" size="11" value="" class="form-control">
    </div>
</div>
<div class="row">
    <div class="col-sm-12 form-group required">
      <label>Tipo de Afastamento</label>
      <select class="form-control chosen">
        <option value="" selected="selected">[Selecione...]</option>
      </select>
    </div>    
</div>

<input type="hidden" name="posicaoDet" value="" id="posicaoDet">

<div class="row">

<hr>


<table class="table table-hover">
    <thead>
      <tr>
      <th style="white-space:nowrap; font-weight: normal;">
        <input type="button" name="btOk" value="&#xed58;" class="btn btn-default input-icon" title="Aplicar Detalhe">
        <input type="button" name="posicaoDet" value="&#xed63;" class="btn btn-default input-icon" title="Excluir Detalhe">
      </th>
      <th>Data de Início</th>
      <th>Data de Fim</th>
      <th>Tipo de Situação</th>
      <th>Documento Decisório</th>
      <th>Valor do Benefício</th>
      <th>Tipo de Afastamento</th>
    </tr></thead>
    <tbody id="grid">
 
   
    <tr>
        <td>
          <input type="checkbox" value="S" id="indExcPlc" class="indExcPlc" title="???pt_BR.ajuda.excluir???">
          &nbsp;&nbsp; 1
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            01/12/2015
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            01/12/2015
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            8,80
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            8,80
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            8,80
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            8,80
          </div>
        </td>
      </tr>
     
    <tr>
        <td>
          <input type="checkbox" name="tipoColaboradorDet[1].indExcPlc" value="S" id="indExcPlc" class="indExcPlc" title="???pt_BR.ajuda.excluir???">
          &nbsp;&nbsp; 2
        </td>
        <td style="cursor:pointer">
          <div id="div1" style="width:100%" >
            17/12/2015
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            01/12/2015
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            8,80
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            8,80
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            8,80
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            8,80
          </div>
        </td>
      </tr>
</tbody>
</table>

</div>