<h3>Detalhe - Férias</h3>
<div class="row">
<table class="table">
    <thead>
      <tr>
        <th>Período Aquisitivo</th>
        <th>Adt. 13º</th>
        <th>Abono</th>
        <th>Parcelada</th>
        <th>Início</th>
        <th>Término</th>
        <th>Pagamento</th>
        <th>Início</th>
        <th>Término</th>
        <th>Pagamento</th>
      </tr></thead>
    <tbody id="grid">
 
   
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
     
    <tr>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
      <td>0</td>
    </tr>
     
</tbody>
</table>

</div>