<h3>Detalhe</h3>
<div class="row">
    <div class="col-sm-4 form-group required">
      <label style="height:4.3em; display:flex; align-items:flex-end;">Data Início</label>
      <input type="text" name="dataInicioVigenciaFormatada" maxlength="10" size="11" value="" id="dataInicioVigenciaFormatada" class="form-control datepicker hasDatepicker">
    </div>
    <div class="col-sm-4 form-group">
      <label style="height:4.3em; display:flex; align-items:flex-end;">Data Término</label>
      <input type="text" name="percentualIncraFormatado" maxlength="5" size="10" value="" id="percentualIncraFormatado" class="form-control valor" placeholder="%">
    </div>

    <div class="col-sm-4 form-group required">
      <label style="height:4.3em; display:flex; align-items:flex-end;">% Adiantamento Quinzenal</label>
      <input type="text" name="percentualRatFormatado" maxlength="5" size="10" value="" id="percentualRatFormatado" class="form-control valor" placeholder="%">
    </div>
    
  </div>

<input type="hidden" name="posicaoDet" value="" id="posicaoDet">

<div class="row">

<hr>


<table class="table table-hover">
    <thead>
      <tr>
      <th style="white-space:nowrap; font-weight: normal;">
        <input type="button" name="btOk" value="&#xed58;" class="btn btn-default input-icon" title="Aplicar Detalhe">
        <input type="button" name="posicaoDet" value="&#xed63;" class="btn btn-default input-icon" title="Excluir Detalhe">
      </th>
      <th>Início</th>
      <th>Término</th>
      <th>% Adiantamento Quinzenal</th>
    </tr></thead>
    <tbody id="grid">
 
   
    <tr>
        <td>
          <input type="checkbox" name="tipoColaboradorDet[0].indExcPlc" value="S" id="indExcPlc" class="indExcPlc" title="???pt_BR.ajuda.excluir???">
          &nbsp;&nbsp; 1
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            01/12/2015
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            0,80
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div0" style="width:100%" >
            8,80
          </div>
        </td>
      </tr>
     
    <tr>
        <td>
          <input type="checkbox" name="tipoColaboradorDet[1].indExcPlc" value="S" id="indExcPlc" class="indExcPlc" title="???pt_BR.ajuda.excluir???">
          &nbsp;&nbsp; 2
        </td>
        <td style="cursor:pointer">
          <div id="div1" style="width:100%" >
            17/12/2015
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div1" style="width:100%" >
            2,32
          </div>
        </td>
        <td style="cursor:pointer">
          <div id="div1" style="width:100%" >
            0,11
          </div>
        </td>
      </tr>
    
</tbody>
</table>