.tooltipster-light {
	border-radius: 2px; 
	border: 1px solid #cccccc;
	background: #ededed;
	color: #666666;
}
.tooltipster-light .tooltipster-content {
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	padding: 5px 7px;
}