<ion-modal-view class="product edit create" id="termosUsoSimulacaoModal">

         <p>Declaro, para todos os fins de direito, que os dados bancários informados são de minha titularidade e por mim confirmados; bem como ressaltar que a conta ora informada <u>não é</u> conta salário. </p>

         <button ng-click='aceitarTermosSimulacao()' class="button btn btn-primario">Aceitar</button>
         <button ng-click='closeModal()' class="button btn btn-secundario">Cancelar</button>

</ion-modal-view>