<ion-view title="Simulação" ng-controller="EmprestimoSimulacaoCamposEmitidoCtrl">
    <ion-content class="has-header emitido" id="consultaEmprestimo">
        <div class="headerInfo">
            <div ng-include="'js/directives/userInfo.html'"></div>
        </div>

        <div class="list nome_emprestimo" id="mainMenu">
            <h5>{{emitido.tipo_emprestimo}}</h5>
            <div class="item item-divider softrow">
                Resultado da Simulação
            </div>

            <div class="item">
                <div class="label row ng-cloak" ng-show="emprestimoSimulacaoCamposEmitido.data_credito" ng-cloak>
                    <div class="col col-25 upper">Data de Crédito</div>
                    <div class="col valor">{{emprestimoSimulacaoCamposEmitido.data_credito}}</div>
                </div>
                <div class="label row">
                    <div class="col col-25 upper">Saldo Devedor Inicial</div>
                    <div class="col valor">{{emprestimoSimulacaoCamposEmitido.saldo_devedor_inicial}}</div>
                </div>
                <div class="label row">
                    <div class="col col-25 upper">Prestação Inicial</div>
                    <div class="col valor">{{emprestimoSimulacaoCamposEmitido.prestacao_inicial}}</div>
                </div>
                <div class="label row" ng-show="naotemainda">
                    <div class="col col-25 upper">Vencimento 1a Prestação</div>
                    <div class="col valor">-</div>
                </div>
                <div class="label row">
                    <div class="col col-25 upper">Contribuição FGE</div>
                    <div class="col valor">{{emprestimoSimulacaoCamposEmitido.seguro_prestamista}}</div>
                </div>
                <div class="label row">
                    <div class="col col-25 upper">IOF</div>
                    <div class="col valor">{{emprestimoSimulacaoCamposEmitido.iof}}</div>
                </div>
                <div class="label row">
                    <div class="col col-25 upper">Valor Líquido a Receber</div>
                    <div class="col valor">{{emprestimoSimulacaoCamposEmitido.valor_liquido_a_receber}}</div>
                </div>
                <div class="label row">
                    <div class="col col-25 upper">Vencimento da 1ª Prestação</div>
                    <div class="col valor">{{emprestimoSimulacaoCamposEmitido.vencimento_primeira_prestacao}}</div>
                </div>
                <div class="label row">
                    <div class="col col-25 upper">Prazo</div>
                    <div class="col valor">{{emprestimoSimulacaoCamposEmitido.prazo_simulado}}</div>
                </div>
            </div>

            <div class="item deep-warning-background" ng-cloak
                 ng-hide="!(emprestimoSimulacaoCamposEmitido.msg_critica_quadro_1 || emprestimoSimulacaoCamposEmitido.msg_critica_quadro_2)">
                <p class="errorColor" style="white-space: initial;"
                   ng-bind-html="(emprestimoSimulacaoCamposEmitido.msg_critica_quadro_1 + '') + (emprestimoSimulacaoCamposEmitido.msg_critica_quadro_2 + '')"></p>
            </div>

            <div class="item warning-background" ng-cloak ng-hide="!emprestimoSimulacaoCamposEmitido.texto_simulacao">
                <p class="errorColor" style="white-space: initial; text-align: justify;">
                    {{emprestimoSimulacaoCamposEmitido.texto_simulacao}}</p>
            </div>
            <div class="item" ng-if="emprestimoSimulacaoCamposEmitido.exibe_botao_confirmacao">
                <div class="list">  
                    <form id="formCampos"> 
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Banco
                            </div>
                            <select class="ion-input-select" style="font-size: 10px;" ng-model="formData.bancoSelecionado" ng-options="item.num_banco_lista as item.nome_banco_lista for item in listaBancos">
                                <option value="">- Selecione -</option>
                            </select>
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Agência</span>
                            <input ng-model="formData.agencia" maxlength="4" type="tel" id="agencia">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Conta</span>
                            <input ng-model="formData.conta" maxlength="12" type="tel" id="conta">
                        </label>
                        <label class="item item-input">
                            <span class="input-label">Digito</span>
                            <input ng-model="formData.digito" maxlength="2" type="tel" id="digito">
                        </label>
                        <label class="item item-input item-select">
                            <div class="input-label">
                                Tipo de Contas
                            </div>
                            <select class="ion-input-select" ng-model="formData.tipoConta" ng-options="key as value for (key,value) in tipoConta">
                                <option value="">- Selecione -</option>
                            </select>
                        </label>
                    </form>
                </div>
            </div>            

            <div class="item" style="border-top: none">
                <div ng-if="emprestimoSimulacaoCamposEmitido.exibe_botao_confirmacao">
                    <div class="the_error">
                        <p ng-show="errorMsg" class="errorMsg assertive" ng-bind="errorMsg"></p>
                    </div>
                    <div class="button-bar" padding="true">
                        <input ng-hide="loading" type="submit"
                               class="button button-positive button-block ng-pristine ng-untouched ng-valid"
                               ng-click="openModal()"
                               value="{{emprestimoSimulacaoCamposEmitido.nome_botao_confirmacao}}">
                        <div ng-show="loading"
                             class="button button-positive button-block ng-hide"
                             id="loading" style="">
                            <ion-spinner icon="android" class="spinner spinner-android">
                                <svg viewBox="0 0 64 64">
                                    <g transform="rotate(24.6,32,32)">
                                        <circle stroke-width="6"
                                                stroke-dasharray="128.99384356121985"
                                                stroke-dashoffset="0" r="26" cx="32"
                                                cy="32" fill="none"
                                                transform="scale(1,1) translate(0,0) rotate(0,32,32)"></circle>
                                    </g>
                                </svg>
                            </ion-spinner>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>
