<ion-view title="Sign-in" hide-nav-bar="true" overflow-scroll="true" has-bouncing="false">
    <ion-content overflow-scroll="true" has-bouncing="false" padding="false" id="signin">
        <form ng-controller="signin" ng-submit="submit()" class="list list-inset" id="login-form">

            <div class="list">
                <div id="logo-login">
                    <img src="img/logo-login.png" class="img-login">
                </div>
            </div>

            <p>{{ labelMessage }}</p>
            <label class="item item-input">
                <input id="campoCpf" type="tel" placeholder="Digite seu CPF"  ng-change="loginPorBiometria()" class="cpfField" ng-model="formData.cpf" mask="99999999999"
                       mask-restrict='reject'>
            </label>
            <label class="item item-input">
                <input type="tel" class="password-class"  placeholder="{{ placeholderPassMessage }}" mask="99999999999999999999" mask-restrict='reject'
                       ng-model="formData.sen" id="passwordField">
            </label>
                <ion-toggle class="toggle-small toggle-assertive toggle-customizado" ng-repeat="item in preferenciasLogin"
                            ng-model="item.checked"
                            ng-checked="item.checked"
                            ng-click="item.action($event)">
                    {{ item.text }}
                </ion-toggle>
            <div class="the_error">
                <p ng-show="errorMsg" class="errorMsg assertive" ng-bind-html="errorMsg"></p>
            </div>
            <input ng-hide="loading" type="submit" class="button button-positive button-block" ng-model="submitLogin"
                   value="Entrar">
            <div ng-show="loading" class="button button-positive button-block" id="loading">
                <ion-spinner icon="android"></ion-spinner>
            </div>
             
        </form>

    </ion-content>

    <ion-footer-bar align-title="left" class="bar-light footerTermos">
        <div class="title" align-title="center">
            <a class="button button-clear" href="#/termo-de-uso">Termo de Uso</a>
        </div>
    </ion-footer-bar>
</ion-view>
